{% extends 'User/Layouts/base.html' %}
{% load staticfiles %}
{% block head_title %}
User: Eventos Disponibles
{% endblock %}

{% block head_dahsboard %}
Registro en Evento
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de eventos
{% endblock %}

{% block sub_head_dahsboard %}
Registro Evento
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de solicitudes de eventos
{% endblock %}

{% block content %}
<div class="content">
    <div class="block block-bordered">
        <div class="block-content">
            <div class="row">
                {% for event in events %}
                    <div class="col-xs-4">
                        <a href="{% url 'events:userEvent_select' event.id %}" class="block block-link-hover2 block-bordered">
                            <div class="block-header">
                                <h5 class="block-title text-center">{{event.name}}</h5>
                            </div>
                            <img src="{{image_url}}{{event.photo}}" class="img-responsive img-event-preview">
                            <div class="block-content">
                                <div class="row items-push text-center">
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="si si-calendar fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Inicio: {{event.start_date|date:"d/m/Y H:i"}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="fa fa-money fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Precio Miembro :S/.{{event.price_member}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="fa fa-money fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Precio Invitado :S/.{{event.price_invited}}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}