{% extends 'User/Layouts/base.html' %}
{% load staticfiles %}

{% block head_title %}
Admin: bungalows
{% endblock %}

{% block head_dahsboard %}
Bungalows
{% endblock %}

{% block function_head_dahsboard %}
Servicios Adicionales
{% endblock %}

{% block sub_head_dahsboard %}
Bungalows
{% endblock %}

{% block function_sub_head_dahsboard %}
Servicios Adicionales
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content">





    <!-- Table Header (Filters) -->
    <div class="block">
        <div class="block-content">
            <form class="form" >{% csrf_token %}
                <!-- Modal -->

                <div class="row">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Bungalows</label>
                            <select class="form-control" id="bungalow"  >
                                <option value="" ></option>
                                {% for r in reservations %}
                                    <option value="{{r.bungalow_id}}" >{{r.bungalow_number}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Servicios de Bungalow Actuales</label>
                            <select class="form-control" multiple="multiple" id="select2BungalowService" disabled>
                                    <option value=""></option>
                                {% for bs in bungalow_services %}
                                    <option value="{{bs.id}}">{{bs.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Servicios por adicionar</label>
                            <select class="form-control" multiple="multiple" id="select2BungalowServiceAdd" >
                                <option value=""></option>
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">

                        <div class="col-xs-2 col-xs-offset-4">
                            <button class="btn btn-success" type="button" id="SaveExtraServices"><i class="fa fa-check push-5-r"></i> Guardar</button>
                        </div> 
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" id="CancelExtraSaveServices"><i class="fa fa-remove push-5-r"></i> Cancelar</button></a>
                        </div>  
                                                                                                  
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <!-- END Table Header (Filters) -->

<!-- END Page Content -->
{% endblock %}



{% block scripts %}
    <script src='{% static "assets/js/User/bungalowReservation/bungalow_reservation.js" %}'></script>
{% endblock %}