{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: Sedes
{% endblock %}

{% block head_dahsboard %}
{{headquarters.name}}
{% endblock %}

{% block function_head_dahsboard %}

{% endblock %}

{% block sub_head_dahsboard %}
Sedes
{% endblock %}

{% block function_sub_head_dahsboard %}
{{headquarters.name}}
{% endblock %}

{% block content %}
<div class="content">
    <div class="block">
        
        <!-- Block v2 -->
        <div class="block-content">
            <form class="form-horizontal push-10-t push-10" action="headquarters:edit_index" method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mega-firstname">Codigo</label>
                                <input class="form-control input-lg" type="text" id="mega-firstname" name="mega-firstname" placeholder="Wait for the HQ code" value="{{headquarters.id}}" disabled>
                            </div>
                            <div class="col-xs-6">
                                <label for="mega-lastname">Nombre</label>
                                <input class="form-control input-lg" type="text" id="mega-lastname" name="mega-lastname" placeholder="Enter the headquarter's name.." value="{{headquarters.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="mega-firstname">Descripcion</label>
                                <input class="form-control input-lg" type="text" id="mega-firstname" name="mega-firstname" placeholder="Enter a brief description.." value="{{headquarters.description}}">
                            </div>

                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="mega-bio">Direccion</label>
                                <input class="form-control input-lg" id="mega-bio" name="mega-bio" rows="2" placeholder="Enter the location of this headquarter.." value="{{headquarters.location}}"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "headquarters:index" %}'"><i class="fa fa-times push-5-r"></i> Cancelar</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- END Block v2 -->


    </div>
</div>
{% endblock %}