{% extends 'Admin/Layouts/base_a.html' %}

{% block head_title %}
Admin: sedes
{% endblock %}

{% block head_dahsboard %}
Sedes
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de sedes
{% endblock %}

{% block sub_head_dahsboard %}
Sedes
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de sedes
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content">
    <!-- Simple Table Full -->
    <div class="block">
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <table class="table table-bordered table-striped js-dataTable-simple">
                <thead>
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="font-w600">Sede</th>
                        <th class="hidden-xs">Dirección</th>
                        <th class="hidden-xs">Descripcion</th>
                        <!--<th class="hidden-xs" style="width: 15%;">Estado</th>-->
                        <th class="text-center" style="width: 10%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for headquarter in headquarters %}  
                    <tr>
                        <td class="text-center">{{headquarter.id}}</td>
                        <td class="font-w600">{{headquarter.name}}</td>
                        <td class="hidden-xs">{{headquarter.location}}</td>
                        <td class="hidden-xs">{{headquarter.description}}</td>
                        <!--<td class="hidden-xs">
                            <span class="label label-danger">TBD</span>
                        </td>-->
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'headquarters:select' headquarter.id %}"><button class="btn btn-xs btn-default editar" data-id="{{headquarter.id}}" type="button"  data-toggle="tooltip" title="Editar Sede"><i class="fa fa-pencil"></i></button></a>

                                <a href="{% url 'headquarters:delete' headquarter.id %}"><button class="btn btn-xs btn-default eliminar" data-id="{{headquarter.id}}" type="button" data-toggle="tooltip" title="Eliminar Sede"><i class="fa fa-times"></i></button></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Simple Table Full -->
</div>
<!-- END Page Content -->
{% endblock %}