{% extends 'User/Layouts/base.html' %}

{% block head_title %}
User: Actividades Disponibles
{% endblock %}

{% block head_dahsboard %}
Registro en Actividad
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de actividades
{% endblock %}

{% block sub_head_dahsboard %}
Registro Actividad
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de solicitudes de actividades
{% endblock %}

{% block content %}
<div class="content">
    <div class="block block-bordered">
        <div class="block-content">
            <div class="row">
                {% for activity in activities %}
                    <div class="col-xs-4">
                        <a href="{% url 'activities:select_signup' activity.id %}" class="block block-link-hover2 block-bordered">
                            <div class="block-header">
                                <h5 class="block-title text-center font-event">{{activity.name}}</h5>
                            </div>
                            <img src="{{image_url}}{{activity.photo}}" class="img-responsive img-event-preview">
                            <div class="block-content">
                                <div class="row items-push text-center">
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="si si-calendar fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Inicio: {{activity.start_date|date:"d/m/Y H:i"}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="si si-calendar fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Fin: {{activity.end_date|date:"d/m/Y H:i"}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="push-5"><i class="si si-users fa-2x"></i></div>
                                        <div class="font-event font-w300 text-muted">Capacidad: {{activity.attendance}}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}