{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: entradas
{% endblock %}

{% block head_dahsboard %}
Entradas
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de entradas
{% endblock %}

{% block sub_head_dahsboard %}
Entradas
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de entradas
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
  <!-- Simple Table Full -->
    <div class="block block-bordered">
            <form id="myFormDelete" method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" name="id"/>
            </form>
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-simple">
                <thead>
                    <tr>
                            <th>Fecha de entrada</th>
                            <th>Fecha de salida</th> 
                            <th>Persona responsable</th>  
                            <th>Invitado</th>                                     
                            <th>Acción</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}                                       
                        <tr>
                            <td class="font-w600">{{entry.initialDate}}</td>
                            <td class="font-w600" style="text-align:right;">{{entry.finalDate}} </td>
                            <td class="font-w600" style="text-align:right;">{{entry.member.name}} {{entry.member.paternalLastName}}</td>
                            <td class="font-w600" style="text-align:right;">{{entry.guest.name}} {{entry.guest.surname}} {{entry.affiliate.name}} {{entry.affiliate.paternalLastName}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                   
                                </div>
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Simple Table Full -->
    </div>
    <!-- END Page Content -->
{% endblock %}

{% block scripts %}

    <script>
    $(document).ready(function () {
        $('.eliminar').click(function (e) {
           var id = $(this).attr("data-id")          
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();          
        });
        
    });
    </script>
    <!-- HASTA AQUÍ -->       

    {% endblock %}

