{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: invitados
{% endblock %}

{% block head_dahsboard %}
Ingreso
{% endblock %}

{% block function_head_dahsboard %}
Invitados
{% endblock %}

{% block sub_head_dahsboard %}
Ingreso
{% endblock %}

{% block function_sub_head_dahsboard %}
Nuevo Invitado
{% endblock %}

{% block content %}

                <!-- Page Content -->
                <div class="content content-narrow">
                    <div class="content">
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-warning" role="alert">
                                    {{msg.message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- Mega Form -->


                    <div class="block block-bordered">
                            <div class="block-content">
                            <form class="form-horizontal push-10-t push-10">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Documento del responsable</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" id="document_number" name="names" placeholder="Dni del responsable" >
                                                </div>
                                            </div>
                                            </div>  
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                         <label class="col-xs-12" for="example-select"> &nbsp </label>
                                        <div class="col-md-6">
                                        <button class="btn btn-info" id="button1" type="button"><i class="fa fa-search push-5-r"></i> Buscar</button>
                                        </div>
                                    </div>  
                                    </div>  
                                </div>    
                                <div class="row" id="oculto" hidden="true">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="col-xs-12"id="doc"> </label>                                        
                                            </div>  
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                         <label class="col-xs-12"id="name"></label>
                                        <div class="col-md-6">
                                    </div>  
                                    </div> 
                                    </div>  
                                </div>                                        
                             </form>
                        </div>
                          <div class="block-content">
                            <form class="form-horizontal push-10-t push-10">
                                <div class="row">
                                    <div class="col-lg-5">
                                         <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Documento del ingresante</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" id="document_number_entry" name="names" placeholder="Dni del ingresante" >
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                    <div class="col-xs-6">
                                         <div class="form-group">
                                         <label class="col-xs-12" for="example-select"> &nbsp </label>
                                         <div class="col-md-6">
                                        <button class="btn btn-info" id ="button2" type="button"><i class="fa fa-search push-5-r"></i> Buscar</button>
                                        </div> 
                                        </div>
                                    </div>                                   
                                </div>                                                              
                            </form>   
                        </div>
     
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action='{% url "guests:insert" %}' method="post" >
                            {% csrf_token %}
                             <input class="form-control" type="text" id="type" name="type"  >
                                <div class="row bloquear">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Nombres de invitado</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" id="names" name="names" placeholder="Nombre de invitado" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Apellidos de invitado</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" id="surnames" name="surnames" placeholder="Apellidos de invitado" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bloquear">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">DNI de invitado</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" pattern="[0-9]*" id="dni" name="dni" placeholder="DNI de invitado" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                               <div class="form-group">
                                    <div class="col-xs-6">
                                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "entry:index" %}'"><i class="fa fa-times push-5-r"></i> Cancelar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Crear</button>
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>
                <!-- END Page Content -->


                {% endblock %}


{% block scripts %}

<script>
var responsable = 0;
var tipo = 0;

//1 para miembro, 2 para afiliado, 3 para invitado, 0 para nuevo invitado

    $(document).ready(function () {
        $('#button1').click(function(){
        var document_number = $('#document_number').val();
        {
            $.ajax({
                type:'post',
                url:'{% url "members:get_member" %}',
                data:{document_number:document_number, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    if(returndata.length){ 
                    responsable=1;
                    $('#doc').text('Documento: '+ returndata[0].fields.document_number);
                    $('#name').text('Nombre: '+ returndata[0].fields.name +' ' + returndata[0].fields.paternalLastName );
                    $('#oculto').show();
                   }else{
                    $('#doc').text('');
                    $('#name').text('');
                    $('#oculto').hide();
                    responsable = 0;
                   }
                },
                
            });
        }
        });

        $('#button2').click(function(){
        var document_number = $('#document_number_entry').val();
        {
            $.ajax({
                type:'post',
                url:'{% url "members:get_entry" %}',
                data:{document_number:document_number, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    if(returndata.length){ 
                        tipo=returndata[0].fields.tipo;
                        $('#dni').val(returndata[0].fields.document_number);
                        $('#names').val(returndata[0].fields.name);
                        $('#surnames').val(returndata[0].fields.name);
                        $('.bloquear input').prop('readonly', true);
                    }else{
                        $('.bloquear input').prop('readonly', false);
                        $('.bloquear input').val('');
                        tipo = 0;
                   }
                   $('#type').val(tipo);
                },
                
            });
        }
        });

        
    });
</script>


{% endblock %}