{% extends 'Admin/Layouts/base.html' %}
{% load staticfiles %}

{% block head_title %}
Admin: reserva de bungalows
{% endblock %}

{% block head_dahsboard %}
Reserva de Bungalows
{% endblock %}

{% block function_head_dahsboard %}
Lista de reservas activas
{% endblock %}

{% block sub_head_dahsboard %}
Reserva de Bungalows
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de reservas
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <aside id="side-overlay">
                <!-- Side Overlay Scroll Container -->
                <div style="position: relative; overflow: hidden; width: auto; height: 295px;" class="slimScrollDiv"><div style="overflow: hidden; width: auto; height: 295px;" id="side-overlay-scroll">
                    <!-- Side Header -->
                    <div class="side-header side-content">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                            <i class="fa fa-times"></i>
                        </button>
                        <span>
                            <img class="img-avatar img-avatar32" src="assets/img/avatars/avatar10.jpg" alt="">
                            <span class="font-w600 push-10-l">Administrador</span>
                        </span>
                    </div>
                    <!-- END Side Header -->

                    <!-- Side Content -->
                    <div class="side-content remove-padding-t">
                        <!-- Side Overlay Tabs -->
                        <div class="block pull-r-l border-t">
                            <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">

                                <li class="active">
                                    <a href="#tabs-side-overlay-sales"><i class="fa fa-fw fa-line-chart"></i> Reporte</a>
                                </li>
                            </ul>
                            <div class="block-content tab-content">


                                <!-- Sales Tab -->
                                <div class="tab-pane fade fade-left active in" id="tabs-side-overlay-sales">
                                    <div class="block pull-r-l">
                                        <!-- Stats -->
                                        <div class="block-content pull-t">
                                            <div class="row items-push">
                                                <div class="col-xs-6">
                                                    <div class="font-w700 text-gray-darker text-uppercase">Reservas</div>
                                                    <a class="h3 font-w300 text-primary" href="javascript:void(0)">{{reservation_count}}</a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="font-w700 text-gray-darker text-uppercase">Ingresos</div>
                                                    <a class="h3 font-w300 text-primary" href="javascript:void(0)">{{reservation_sales}}</a>
                                                </div>
                                            </div>
                                            <div class="row items-push">
                                                <div class="col-xs-6">
                                                    <div class="font-w700 text-gray-darker text-uppercase">Ocupación</div>
                                                    <a class="h3 font-w300 text-primary" href="javascript:void(0)">{{reservation_ocup}} %</a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="font-w700 text-gray-darker text-uppercase">Concreción</div>
                                                    <a class="h3 font-w300 text-primary" href="javascript:void(0)">{{reservation_conc}} %</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Stats -->

                                        <!-- Today -->
                                        <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <span class="font-w600 font-s13 text-gray-darker text-uppercase">Datos</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="block-content">
                                            <ul class="list list-activity pull-r-l">
                                                <li>
                                                    <i class="fa fa-circle text-success"></i>
                                                    <div class="font-w600">Bungalow mas usado</div>
                                                    <div><small class="text-muted">{{bungalow_type_top}}</small></div>
                                                </li>
                                                <li>
                                                    <i class="fa fa-circle text-success"></i>
                                                    <div class="font-w600">Bungalow menos usado</div>
                                                    <div><small class="text-muted">{{bungalow_type_last}}</small></div>
                                                </li>
                                                
                                        <!-- END Today -->

                                    </div>
                                </div>
                                <!-- END Sales Tab -->
                            </div>
                        </div>
                        <!-- END Side Overlay Tabs -->
                    </div>
                    <!-- END Side Content -->
                </div><div style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.35; display: none; border-radius: 7px; z-index: 99; right: 2px; height: 91.9926px;" class="slimScrollBar"></div><div style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 1; z-index: 90; right: 2px;" class="slimScrollRail"></div></div>
                <!-- END Side Overlay Scroll Container -->
     </aside>

    <!-- Table Header (Filters) -->
    <div class="block">
        <div class="block-content">
            <form class="form" id="filters-form" action="{% url 'bungalowReservation:admin_index' %}" method="post" onsubmit="return false;">
                {% csrf_token %}
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Seleccione una sede</label>
                            <select class="form-control" id="headquarter_id" size="1">
                                <option value="-1">Todas</option>
                                {% for headquarter in headquarters %}
                                <option value="{{headquarter.id}}">{{headquarter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Estado de reserva</label>
                            <select class="form-control" id="status" size="1">
                                <option value="-1">Todos</option>
                                {% for status in status_choices %}
                                <option value="{{ status.0 }}">{{ status.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END Table Header (Filters) -->

    <!-- Simple Table Full -->
    <div class="block block-bordered">
        <div class="block-content" id="table-content">
            {% include 'Admin/bungalowReservation/index_table.html' %}
        </div>
    </div>
    <!-- END Simple Table Full -->
</div>
<!-- END Page Content -->

<!-- HASTA AQUÍ -->

{% endblock %}

{% block scripts %}

<!-- Page Plugins -->
<script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>

<script>
                    jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });


</script>

<!-- Page JS Plugins -->
<script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
<script src='{% static "assets/js/plugins/select2/select2.min.js" %}'></script>
<script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
<script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
<script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-validation/additional-methods.min.js" %}'></script>


<script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });


</script>

<script src='{% static "assets/js/Admin/bungalowReservation/index.js" %}'></script>


{% endblock %}