{% extends 'Admin/Layouts/base.html' %}
{% load staticfiles %}

{% block head_title %}
Admin: bungalows
{% endblock %}

{% block head_dahsboard %}
Bungalows
{% endblock %}

{% block function_head_dahsboard %}
Nuevo bungalow
{% endblock %}

{% block sub_head_dahsboard %}
Bungalows
{% endblock %}

{% block function_sub_head_dahsboard %}
Creación de bungalows
{% endblock %}

{% block content %}
<div class="content content-narrow">
    <!-- Mega Form -->
    <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                        <i class="si si-refresh"></i></button>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <form class="form-horizontal push-10-t push-10" action='{% url "bungalowReservation:admin_create_reserve" %}' method="POST">
                {% csrf_token %}

                <input type="hidden" name="bungalow_id" value="{{reservation.bungalow_id}}">
                <input type="hidden" name="arrival_date" value="{{reservation.arrival_date|date:'d/m/Y'}}">

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Sede</label>
                            <select class="form-control" disabled name="headquarter_id" size="1">
                                {% for headquarter in headquarters %}
                                <option {% if headquarter.id == reservation.bungalow_headquarter_id %} selected='selected' {% endif %} value="{{ headquarter.id }}">
                                    {{ headquarter.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                            <label>Tipo de bungalow</label>
                            <select class="form-control" disabled name="bungalow_type_id" size="1">
                                {% for bungalowType in bungalowTypes %}
                                <option {% if bungalowType.id == reservation.bungalow_type_id %} selected='selected' {% endif %} value="{{ bungalowType.id }}">
                                    {{ bungalowType.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Fecha de Entrada</label>
                            <div class="input-group">
                                <input class="form-control" disabled name="arrival_date" value={{reservation.arrival_date|date:"d/m/Y"}} type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                            <label>Seleccione la cantidad de dias</label>
                            <select class="form-control" name="duration">
                                {% for val in durationOptions %}
                                <option value="{{val}}">{{val}} Dias</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Sede</label>
                            <select class="form-control" name="member_id" size="1">
                                {% for member in members %}
                                <option value="{{ member.id }}">
                                    {{ member.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-4">
                            <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i>Crear
                            </button>

                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type=""><i class="fa fa-remove push-5-r"></i> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END Mega Form -->
</div>

{% endblock %}


{% block scripts %}
{% endblock %}