{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin: actividades
{% endblock %}

{% block head_dahsboard %}
Actividades
{% endblock %}

{% block function_head_dahsboard %}
Lista de Miembros en Actividad
{% endblock %}

{% block sub_head_dahsboard %}
Actividades
{% endblock %}

{% block function_sub_head_dahsboard %}
Miembros
{% endblock %}

{% block content %}
<div class="content">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-warning" role="alert">
                {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="content">
    <div class="block block-bordered">
        <div class="block-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-header">
                        <h3>Buscar Persona</h3>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <div class="row items-push text-left">
                                <div class="col-lg-4">
                                    <label>Numero Documento</label>
                                    <input type="text" name="document_number" id="document_number" class="form-control">
                                </div>
                                <div class="col-lg-4">
                                    <label>Tipo Persona</label>
                                    <select class="form-control">
                                        <option value="1">Invitado</option>
                                        <option value="2">Colaborador</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary" id="search">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content" hidden id="search_results">
    <div class="block block-bordered">
        <div class="block-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-header">
                        <h3>Resultados</h3>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <div class="row items-push text-left">
                                <div class="col-lg-3">
                                    <label>Nombres</label>
                                    <input type="text" name="user_name" id="user_name" class="form-control" disabled="disabled">
                                </div>
                                <div class="col-lg-3">
                                    <label>Apellido Paterno</label>
                                    <input type="text" name="user_lastname" id="user_lastname" class="form-control" disabled="disabled">
                                </div>
                                <div class="col-lg-3">
                                    <label>Apellido Materno</label>
                                    <input type="text" name="user_secondlastname" id="user_secondlastname" class="form-control" disabled="disabled">
                                </div>
                                <div class="col-lg-3">
                                    <label>Documento</label>
                                    <input type="text" name="user_document" id="user_document" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <div class="row items-push text-center">
                                <div class="col-lg-12">
                                    <form action='{% url "activities:insert_member" activity_id %}' method="post">
                                        {% csrf_token %}
                                        <input type="text" hidden id="member" name="member">
                                        <button class="btn btn-success" id="add_user">Agregar Persona</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content" hidden id="no_results">
    <div class="block block-bordered">
        <div class="block-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-header">
                        <h3>NO SE ENCONTRO PERSONA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src='{% static "assets/js/core/jquery.min.js" %}'></script>
<!-- Page Plugins -->
<script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>
<script src='{% static "assets/js/datetimepicker/jquery.datetimepicker.full.min.js" %}'></script>
<script>
    jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script>

        <!-- Page JS Plugins -->
        <script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/select2/select2.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/additional-methods.min.js" %}'></script>


        <script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });
        </script>



        <script src='{% static "assets/js/Admin/Activities/activities_forms_validation.js" %}'></script>
        <script src='{% static "assets/js/tablas.js" %}'></script>
        <script src='{% static "assets/js/product.js" %}'></script>
        <!-- <script src='{% static "assets/js/pages/base_forms_pickers_more.js" %}'></script> -->

</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#search').click(function() {
            $.ajax({
                type:'post',
                url:'{% url "members:getMembers" %}',
                data: {
                    'document_number' : $('#document_number').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                cache:false,
                success: function(data){
                    if(data)
                    {
                        $('#no_results').hide();
                        $('#search_results').show();
                        $('#user_name').val(data.name);
                        $('#user_lastname').val(data.lastName);
                        $('#user_secondlastname').val(data.secondLastName);
                        $('#user_document').val(data.documentNumber);
                        $('#member').val(data.userId);
                    }else
                    {
                        $('#search_results').hide();
                        $('#no_results').show();
                    }
                }
            })
        })
    })
</script>
{% endblock %}