{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin: actividades
{% endblock %}

{% block head_dahsboard %}
Actividades
{% endblock %}

{% block function_head_dahsboard %}
Lista de Miembros en Actividad
{% endblock %}

{% block sub_head_dahsboard %}
Actividades
{% endblock %}

{% block function_sub_head_dahsboard %}
Miembros
{% endblock %}

{% block content %}
<div class="content content-narrow">
    <div class="content">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-warning" role="alert">
                    {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="block block-bordered">
        <div class="block-header">
            <ul class="block-options">
                <div class="row">
                    <div class="col-sm-12">
                      <a href="{% url 'activities:add_member' activity_id %}"><button class="btn btn-minw btn-primary" type="button">Agregar Miembro</button></a>
                    </div>
                </div>
            </ul>
            <h3 class="block-title"></h3>
        </div>

        <!-- Block v2 -->
        <div class="block-content">
            <div class="table-responsive">
                <table class="table table-striped table-vcenter">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Fecha Registro</th>
                            <th class="text-center">Retirar Miembro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in registrations %}
                            <tr>
                                <td>{{registration.member.name}} {{registration.member.paternalLastName}} {{registration.member.maternalLastName}}</td>
                                <td>{{registration.member.document_number}}</td>
                                <td>{{registration.registered_at|date:"d/m/Y H:i"}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{% url 'activities:member_remove' activity_id registration.member.id %}"><button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remover Cliente"><i class="fa fa-times"></i></button></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END Block v2 -->


    </div>
</div>
{% endblock %}

{% block scripts %}

<script src='{% static "assets/js/core/jquery.min.js" %}'></script>
<!-- Page Plugins -->
<script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>
<script src='{% static "assets/js/datetimepicker/jquery.datetimepicker.full.min.js" %}'></script>
<script type="text/javascript">
    $(document).ready(function () {
                
        $('.input-datetime').datetimepicker({
            format: "d/m/Y H:m",
            value: $(this).val()
        });  
            
    });
</script>
<script>
    jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script>

        <!-- Page JS Plugins -->
        <script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/select2/select2.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/additional-methods.min.js" %}'></script>


        <script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });
        </script>



        <script src='{% static "assets/js/Admin/Activities/activities_forms_validation.js" %}'></script>
        <script src='{% static "assets/js/tablas.js" %}'></script>
        <script src='{% static "assets/js/product.js" %}'></script>
        <!-- <script src='{% static "assets/js/pages/base_forms_pickers_more.js" %}'></script> -->

</script>
{% endblock %}