{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: tipo de multas
{% endblock %}

{% block head_dahsboard %}
Tipos de multas
{% endblock %}

{% block function_head_dahsboard %}
Tipos de multas
{% endblock %}

{% block sub_head_dahsboard %}
Tipos de multas
{% endblock %}

{% block function_sub_head_dahsboard %}
Tipos de multas
{% endblock %}

{% block content %}
     <div class="content content-narrow">
         <div class="content">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{msg.message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action='{% url "fine:insert_type" %}' method="post" >
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Razón</label>
                                            <div class="col-md-6">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="reason" placeholder="Razón"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Precio</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" id="example-number-input" name="price" placeholder="Precio" type="number" step="any" style="text-align:right;">
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="form-group">                    
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "fine:index_type" %}'"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>    

{% endblock %}