{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: solicitud de membresía
{% endblock %}

{% block head_dahsboard %}
Solicitud de Membresía
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de objeciones
{% endblock %}

{% block sub_head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de objeciones
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <!-- Simple Table Full -->
    <div class="block block-bordered">
         <form id="myFormDelete" action="{% url "membership_application:approve" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" value="{{id}}" name="id"/>
                            <div class="form-group">     
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-simple">
                                <thead>
                                    <tr>
                                        <th>Comentarios</th>                                
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for objection in objections %}                                       
                                        <tr>
                                            <td class="font-w600">{{objection.comments}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table> 

                                                       <div class="block-content">
                            <div class="form-group">                    
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "membership_application:index" %}'"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>

                                </div>
                                </div>         

                           
                        </div>
                                    </form>
                    </div>
                    <!-- END Simple Table Full -->
                </div>
                <!-- END Page Content -->

                <!-- HASTA AQUÍ -->       

                {% endblock %}