{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: solicitudes de membresías
{% endblock %}

{% block head_dahsboard %}
Solicitud de Membresía
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de solicitudes de membresía
{% endblock %}

{% block sub_head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de solicitudes de membresía
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <!-- Simple Table Full -->
    <div class="block">
                        <div class="block-content">
                            <form class="form" action='{% url "membership_application:filter" %}' method="post" >
                                {% csrf_token %}  
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-10 control-label" for="initialDate">Rango de fechas</label>
                                            <div class="col-md-10">
                                                <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                    <input class="form-control" type="text" id="example-daterange1" name="initialDate" placeholder="Desde">
                                                    <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                                                    <input class="form-control" type="text" id="example-daterange2" name="finalDate" placeholder="hasta">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Numero de Documento</label>
                                            <div class="col-md-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-number1-group2" name="num_doc" placeholder="Num Documento" pattern="[0-9]*"  size="60">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                     
                                </div>
                               <br>
                                <div class="row">
                                    <div class="col-lg-5" >
                                        <div class="form-group">
                                        <label class="col-xs-1 " for="example-select">Estado</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="example-select" name="status" size="1">
                                                    <option value="4">Todas</option>
                                                    <option value="0">Eliminado</option>
                                                    <option value="1">Por Aprobar</option>
                                                    <option value="2">Aprobado</option>
                                                    <option value="3">Desprobado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1" >
                                        
                                    </div>
                                    <div class="col-lg-5" >
                                        <div class="form-group">
                                        <label class="col-xs-6 " for="example-select">Documento de Identidad</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="example-select" name="identity_document_type" size="1">
                                                    <option value="Todos">Todos</option>
                                                    {% for doc_type in doc_types %}
                                                        <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                            </form>
                        </div>
                    </div>
    <div class="block block-bordered">
         <form id="myFormDelete" action="{% url "membership_application:delete" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" name="id"/>
            </form>
            <form id="myFormEdit" action="{% url "membership_application:edit_index" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid2" name="id"/>
            </form>
             <form id="myFormClose" action="{% url "memberships:accept" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid3" name="id"/>
            </form>

                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-simple">
                                <thead>
                                    <tr>
                                        <th>Doc. Identidad</th>
                                        <th>Num. Doc.</th>
                                        <th>Nombres</th>
                                        <th>Apellido paterno</th>                                       
                                        <th>Apellido materno</th>                                       
                                        <th>Fecha Inicio</th>  
                                        <th>Fecha Fin</th>
                                        <th>Comentarios</th>
                                        <th> Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for membershipApp in membershipApplications %}                                       
                                        <tr>
                                            <td class="font-w600">{{membershipApp.identity_document_type.name}}</td>
                                            <td class="font-w600">{{membershipApp.document_number}}</td>
                                            <td class="font-w600">{{membershipApp.firstName}}</td>
                                            <td class="font-w600">{{membershipApp.paternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.maternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.initialDate}}</td>
                                            <td class="font-w600">{{membershipApp.finalDate}}</td>
                                            <td class="font-w600">{{membershipApp.comments}}</td>
                                            <td class="text-center">
                                            {% if membershipApp.status == 1 %}
                                                <div class="btn-group">
                                                    <button class="btn btn-xs btn-default editar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Editar Solicitud"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-xs btn-default eliminar" data-id="{{membershipApp.id}}" type="button" data-toggle="tooltip" title="Eliminar Solicitud"><i class="fa fa-times"></i></button>
                                                    <button class="btn btn-xs btn-default cerrar" data-id="{{membershipApp.id}}" type="button" data-toggle="tooltip" title="Cerrar Solicitud"><i class="fa fa-chevron-right"></i></button>
                                                </div>
                                            {% endif %}
                                            {% if membershipApp.status == 0 %}
                                                <div class="col-lg-12" >
                                                    <label class="col-xs-15 " for="example-select">Eliminado</label>
                                                </div>
                                            {% endif %}
                                            {% if membershipApp.status == 2 %}
                                                <div class="col-lg-12" >
                                                    <label class="col-xs-15" for="example-select">Aprobado</label>
                                                </div>
                                            {% endif %}
                                            {% if membershipApp.status == 3 %}
                                                <div class="col-lg-12" >
                                                    <label class="col-xs-15" for="example-select">Desaprobado</label>
                                                </div>
                                            {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Simple Table Full -->
                </div>
                <!-- END Page Content -->
{% endblock %}

{% block scripts %}

    <script>
    $(document).ready(function () {
        $('.editar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormEdit"].submit();    

        });
        $('.eliminar').click(function (e) {
           var id = $(this).attr("data-id")          
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();          
        });
        $('.cerrar').click(function (e) {
           var id = $(this).attr("data-id")          
            $('#hid3').val(id)
            document.forms["myFormClose"].submit();          
        });
        
    });
    </script>
                <!-- HASTA AQUÍ -->       

{% endblock %}