{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin: solicitud de membresia
{% endblock %}

{% block head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_head_dahsboard %}
Nueva solicitud de membresía
{% endblock %}

{% block sub_head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Nueva solicitud de membresía
{% endblock %}

{% block content %}

     <div class="content content-narrow">

         <div class="content">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-warning" role="alert">
                    {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
         </div>
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-content">
                            <form class="js-validation-bootstrap form-horizontal push-10-t push-10" action='{% url "membership_application:insert" %}' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-8" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">(*) Campos necesarios.</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <h4 class="col-xs-12" for="example-select"> Miembro</h4>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Solo imagenes de 200 x 200</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="photo">Foto(*)</label>
                                            <input type="file" name="photo" class="form-control, col-xs-12" id="photo">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Género(*)</label>
                                            <div class="col-sm-8">
                                                  <input type="radio" name="gender" checked value="0"> Masculino<br>
                                                  <input type="radio" name="gender" value="1"> Femenino<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Nombres(*)</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="firstName" name="firstName" placeholder="Nombres"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido paterno(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="paternalLastName" placeholder="Apellido paterno" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido materno(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="maternalLastName" placeholder="Apellido materno" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-select">Doc. de Identificacion(*)</label>
                                            <div class="col-lg-12">
                                                   <div class="input-group">
                                                        <input class="form-control" id="num_doc" name="num_doc" placeholder="Doc" pattern="[0-9]*" >
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                            <label class="col-xs-5" for="example-select">Tipo(*)</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="example-select1" name="identity_document_type" size="1">
                                                    {% for doc_type in doc_types %}
                                                    <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Nacionalidad(*)</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="nationality" placeholder="Nacionalidad"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Centro de Trabajo(*)</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="workPlace" placeholder="Lugar donde Trabaja"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Puesto de Trabajo(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="workPlaceJob" placeholder="Puesto" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Teléfono de Oficina(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="workPlacePhone" placeholder="Teléfono" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Estado Civil(*)</label>
                                            <div class="col-sm-8">
                                               <select class="form-control" id="example-input1-group1" name="maritalStatus" size="1">       
                                                        <option selected value="Casado/a">Casado/a</option>
                                                        <option value="Soltero/a">Soltero/a</option>
                                                        <option value="Divorciado/a">Divorciado/a</option>
                                                        <option value="Viudo/a">Soltero/a</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Teléfono Celular(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="cellphoneNumber" placeholder="Teléfono Celular" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Teléfono de Casa(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="phone" placeholder="Teléfono" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Especialidad(*)</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="specialization" placeholder="Especialidad"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-daterange1">Fecha de nacimiento(*)</label>
                                            <div class="col-sm-12">
                                                <div class="input-daterange input-group" data-date-format="dd/mm/yyyy">
                                                    <input class="form-control" type="text" id="birthDate" name="birthDate" placeholder="Fecha de Nacimiento">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Correo(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="email" placeholder="Correo" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input2">Lugar de Nacimiento(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input1-group2" name="birthPlace" placeholder="Lugar de Nacimiento" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Departamento(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthDepartment" name="birthDepartment" size="1">
                                                            {% for u in ubigeo%}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Provincia(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthProvince" name="birthProvince" size="1">
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Distrito(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthDistrict" name="birthDistrict" size="1">
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input2">Dirección(*)</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input1-group2" name="address" placeholder="Lugar de Nacimiento" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Departamento(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="department" name="addressDepartment" size="1">
                                                            {% for u in ubigeo%}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Provincia(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="province" name="addressProvince" size="1">
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Distrito(*)</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="district" name="addressDistrict" size="1">                                                       
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <h4 class="col-xs-12" id="focus" for="example-select"> Cónyuge</h4>
                                        </div>
                                    </div>
                                </div>
                                <br style="display: none;">
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="photo">Foto</label>
                                            <input type="file" name="sphoto" class="form-control, col-xs-12" id="sphoto">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Género</label>
                                            <div class="col-sm-8">
                                                  <input type="radio" checked name="sgender" value="0"> Masculino<br>
                                                  <input type="radio" name="sgender" value="1"> Femenino<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Nombres</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="sfirstName" placeholder="Nombres"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido paterno</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="spaternalLastName" placeholder="Apellido paterno" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido materno</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="smaternalLastName" placeholder="Apellido materno" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-select">Doc. de Identificacion</label>
                                            <div class="col-lg-12">
                                                   <div class="input-group">
                                                        <input class="form-control" id="snum_doc" name="snum_doc" placeholder="Doc" pattern="[0-9]*" >
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                            <label class="col-xs-5" for="example-select">Tipo</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="example-select1" name="sidentity_document_type" size="1">
                                                    {% for doc_type in doc_types %}
                                                    <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Nacionalidad</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="snationality" placeholder="nacionalidad" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Especialidad</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="sspecialization" placeholder="Especialidad"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-daterange1">Fecha de nacimiento</label>
                                            <div class="col-sm-12">
                                                <div class="input-daterange input-group" data-date-format="dd/mm/yyyy">
                                                    <input class="form-control" type="text" id="example-daterange1" name="sbirthDate" placeholder="Fecha de Nacimiento">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Correo</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="semail" placeholder="Correo" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Centro de Trabajo</label>
                                            <div class="col-sm-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="sworkPlace" placeholder="Lugar donde Trabaja"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Puesto de Trabajo</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="sworkPlaceJob" placeholder="Puesto" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Teléfono de Oficina</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="sworkPlacePhone" placeholder="Teléfono" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input2">Lugar de Nacimiento</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input1-group2" name="sbirthPlace" placeholder="Lugar de Nacimiento" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Teléfono Celular</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="scellphoneNumber" placeholder="Teléfono Celular" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row conyuge" style="display: none;">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                                <label class="col-xs-8" for="example-select">Departamento</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" id="sbirthDepartment" name="sbirthDepartment" size="1">
                                                            {% for u in ubigeo%}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                                <label class="col-xs-8" for="example-select">Provincia</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" id="sbirthProvince" name="sbirthProvince" size="1">
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                                <label class="col-xs-8" for="example-select">Distrito</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" id="sbirthDistrict" name="sbirthDistrict" size="1">
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>


                                <br>
                                <div class="row">
                                    <div class="col-lg-4" >
                                        <div class="form-group">
                                        <h4 class="col-xs-12" for="example-select"> General</h4>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Comentarios</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input1-group2" name="comments" placeholder="Comentarios" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>           
                                 <div class="row">
                                   <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-daterange1">Rango de fechas para objeciones</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-daterange input-group" data-date-format="dd/mm/yyyy">
                                                    <input class="form-control" type="text" id="fechaIni" name="initialDate" placeholder="Desde">
                                                     </div>
                                                    <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                                                    <input class="form-control" type="text" id="fechaFin" name="finalDate" readonly placeholder="hasta">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
  
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-xs-12" for="example-select">Seleccione un tipo</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="example-select" name="membership_type" size="1">
                                                 {% for type in types %}
                                                <option value="{{type.id}}">{{type.name}}</option>
                                                 {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                </div>
                               </div>
                                <div class="form-group">  
                                 <div class="col-xs-2 col-xs-offset-3">
                                        <button class="btn btn-primary"  id='conyu' type="button"><i class="fa fa-plus push-5-r"></i> Cónyuge</button>
                                    </div>                  
                                    <div class="col-xs-2">
                                        <button class="btn btn-success" id='button' type='submit' ><i class="fa fa-check push-5-r"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "membership_application:index" %}'"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>    

{% endblock %}

{% block scripts %}

        <!-- Page JS Plugins -->
<script>
var CSRF_TOKEN = '{{ csrf_token }}';
var url= "{% url "membership_application:verify_document_number" %}"

 $(document).ready(function () {


    $('#conyu').click(function(){
        $('.conyuge').show();
        $('#conyu').prop("disabled", true);
        $('#focus').focus();
    });

    $('#fechaIni').change(function(){

        var iniDate = $('#fechaIni').val();
        var splitdate = iniDate.split("/");
        var someDate = new Date(splitdate[1]+" "+splitdate[0]+" "+splitdate[2]);

        var numberOfDaysToAdd = 13;
        someDate.setDate(someDate.getDate() + numberOfDaysToAdd); 

        var dd = someDate.getDate();
        var mm = someDate.getMonth() + 1;
        var y = someDate.getFullYear();

        var someFormattedDate = dd + '/'+ mm + '/'+ y;
        $('#fechaFin').val(someFormattedDate);


     });

        $('#department').change(function(){
        var department = $('#department :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:department, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#province').empty();
                    //$('#province').append($('<option>', { text : 'Seleccione', value : ''}));
                    //$('#district').empty();
                    //$('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#province').append($('<option>', { 
                                text : item.province ,
                                selected : true
                            }));
                            $.ajax({
                                type:'post',
                                url:'{% url "ubigeo:distritos" %}',
                                data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                cache:false,
                                success: function(returndata){ 
                                    $('#district').empty();
                                    //$('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                                    $.each(returndata, function(i, item) {
                                        if(i==0){
                                            $('#district').append($('<option>', { 
                                                text : item.district ,
                                                selected : true
                                            }));
                                        }else{
                                            $('#district').append($('<option>', { 
                                                text : item.district 
                                            }));
                                        }
                                    });
                                }
                            });
                        }else{
                            $('#province').append($('<option>', { 
                                text : item.province 
                            }));
                        }
                    });
                }
            });
        }
        });

        $('#province').change(function(){
        var province = $('#province :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#district').empty();
                    //$('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#district').append($('<option>', { 
                                text : item.district ,
                                selected : true
                            }));
                        }else{
                            $('#district').append($('<option>', { 
                                text : item.district 
                            }));
                        }
                    });
                }
            });
        }
        });

        $('#birthDepartment').change(function(){
        var birthDepartment = $('#birthDepartment :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:birthDepartment, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#birthProvince').empty();
                    //$('#birthProvince').append($('<option>', { text : 'Seleccione', value : ''}));
                    //$('#birthDistrict').empty();
                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#birthProvince').append($('<option>', {
                                text : item.province,
                                selected : true
                            }));
                            $.ajax({
                                type:'post',
                                url:'{% url "ubigeo:distritos" %}',
                                data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                cache:false,
                                success: function(returndata){
                                    $('#birthDistrict').empty();
                                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                                    $.each(returndata, function(i, item) {
                                        if(i==0){
                                            $('#birthDistrict').append($('<option>', {
                                                text : item.district,
                                                selected : true
                                            }));
                                        }else{
                                            $('#birthDistrict').append($('<option>', {
                                                text : item.district
                                            }));
                                        }
                                    });
                                }
                            });
                        }else{
                            $('#birthProvince').append($('<option>', {
                                text : item.province
                            }));
                        }
                    });
                }
            });
            
        }
        });

        $('#birthProvince').change(function(){
        var birthProvince = $('#birthProvince :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:birthProvince, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#birthDistrict').empty();
                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#birthDistrict').append($('<option>', {
                                text : item.district,
                                selected : true
                            }));
                        }else{
                            $('#birthDistrict').append($('<option>', {
                                text : item.district
                            }));
                        }
                    });
                }
            });
        }
        });

        $('#sbirthDepartment').change(function(){
        var birthDepartment = $('#sbirthDepartment :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:birthDepartment, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#sbirthProvince').empty();
                    //$('#birthProvince').append($('<option>', { text : 'Seleccione', value : ''}));
                    //$('#birthDistrict').empty();
                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#sbirthProvince').append($('<option>', {
                                text : item.province,
                                selected : true
                            }));
                            $.ajax({
                                type:'post',
                                url:'{% url "ubigeo:distritos" %}',
                                data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                cache:false,
                                success: function(returndata){
                                    $('#birthDistrict').empty();
                                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                                    $.each(returndata, function(i, item) {
                                        if(i==0){
                                            $('#sbirthDistrict').append($('<option>', {
                                                text : item.district,
                                                selected : true
                                            }));
                                        }else{
                                            $('#sbirthDistrict').append($('<option>', {
                                                text : item.district
                                            }));
                                        }
                                    });
                                }
                            });
                        }else{
                            $('#sbirthProvince').append($('<option>', {
                                text : item.province
                            }));
                        }
                    });
                }
            });
            
        }
        });


        $('#sbirthProvince').change(function(){
        var birthProvince = $('#sbirthProvince :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:birthProvince, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#sbirthDistrict').empty();
                    //$('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        if(i==0){
                            $('#sbirthDistrict').append($('<option>', {
                                text : item.district,
                                selected : true
                            }));
                        }else{
                            $('#sbirthDistrict').append($('<option>', {
                                text : item.district
                            }));
                        }
                    });
                }
            });
        }
        });
        
        var e = document.getElementById("department");
        $.ajax({
            type:'post',
            url:'{% url "ubigeo:provincias" %}',
            data:{department:e.options[e.selectedIndex].text, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            cache:false,
            success: function(returndata){ 
                $('#province').empty();
                //$('#province').append($('<option>', { text : 'Seleccione', value : ''}));
                //$('#district').empty();
                //$('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                $.each(returndata, function(i, item) {
                    if(i==0){
                        $('#province').append($('<option>', { 
                            text : item.province ,
                            selected : true
                        }));
                        $.ajax({
                            type:'post',
                            url:'{% url "ubigeo:distritos" %}',
                            data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                            cache:false,
                            success: function(returndata){ 
                                $('#district').empty();
                                //$('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                                $.each(returndata, function(i, item) {
                                    if(i==0){
                                        $('#district').append($('<option>', { 
                                            text : item.district ,
                                            selected : true
                                        }));
                                    }else{
                                        $('#district').append($('<option>', { 
                                            text : item.district 
                                        }));
                                    }
                                });
                            }
                        });
                    }else{
                        $('#province').append($('<option>', { 
                            text : item.province 
                        }));
                    }
                });
            }
        });

        var e2= document.getElementById("birthDepartment");
        $.ajax({
            type:'post',
            url:'{% url "ubigeo:provincias" %}',
            data:{department:e2.options[e2.selectedIndex].text, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            cache:false,
            success: function(returndata){ 
                $('#birthProvince').empty();
                $.each(returndata, function(i, item) {
                    if(i==0){
                        $('#birthProvince').append($('<option>', { 
                            text : item.province ,
                            selected : true
                        }));
                        $.ajax({
                            type:'post',
                            url:'{% url "ubigeo:distritos" %}',
                            data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                            cache:false,
                            success: function(returndata){ 
                                $('#birthDistrict').empty();
                                $.each(returndata, function(i, item) {
                                    if(i==0){
                                        $('#birthDistrict').append($('<option>', { 
                                            text : item.district ,
                                            selected : true
                                        }));
                                    }else{
                                        $('#birthDistrict').append($('<option>', { 
                                            text : item.district 
                                        }));
                                    }
                                });
                            }
                        });
                    }else{
                        $('#birthProvince').append($('<option>', { 
                            text : item.province 
                        }));
                    }
                });
            }
        });

        var e3= document.getElementById("sbirthDepartment");
        $.ajax({
            type:'post',
            url:'{% url "ubigeo:provincias" %}',
            data:{department:e3.options[e3.selectedIndex].text, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            cache:false,
            success: function(returndata){ 
                $('#sbirthProvince').empty();
                $.each(returndata, function(i, item) {
                    if(i==0){
                        $('#sbirthProvince').append($('<option>', { 
                            text : item.province ,
                            selected : true
                        }));
                        $.ajax({
                            type:'post',
                            url:'{% url "ubigeo:distritos" %}',
                            data:{province:item.province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                            cache:false,
                            success: function(returndata){ 
                                $('#sbirthDistrict').empty();
                                $.each(returndata, function(i, item) {
                                    if(i==0){
                                        $('#sbirthDistrict').append($('<option>', { 
                                            text : item.district ,
                                            selected : true
                                        }));
                                    }else{
                                        $('#sbirthDistrict').append($('<option>', { 
                                            text : item.district 
                                        }));
                                    }
                                });
                            }
                        });
                    }else{
                        $('#sbirthProvince').append($('<option>', { 
                            text : item.province 
                        }));
                    }
                });
            }
        });


    });

</script>
<script src='{% static "assets/js/Admin/Membership/membership_application_forms_validation.js" %}'></script>




{% endblock %}