{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Usuario: afiliados
{% endblock %}

{% block head_dahsboard %}
Afiliado
{% endblock %}

{% block function_head_dahsboard %}
Editar afiliado
{% endblock %}

{% block sub_head_dahsboard %}
Afiliado
{% endblock %}

{% block function_sub_head_dahsboard %}
Editar afiliado
{% endblock %}

{% block content %}
     <div class="content content-narrow">
         <div class="content">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-warning" role="alert">
                    {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
         </div>
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-content">
                            <form class="js-validation-bootstrap form-horizontal push-10-t push-10"  action='{% url "affiliate:admin_edit" %}' enctype="multipart/form-data" method="post" >
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-8" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">(*) Campos no necesarios.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-sm-3">
                                    <img src="{{ MEDIA_URL }}{{affiliate.photo}}" height="200" width="200" class="img-event-preview">
                                    <div class="form-group">
                                        <label class="col-xs-12" for="photo">Foto</label>
                                        <input type="file" name="photo" class="form-control, col-xs-12" id="photo">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-xs-8" for="example-number-input">Género</label>
                                        <div class="col-sm-8">
                                            {% if affiliate.gender == 0 %}
                                                <input type="radio" name="gender" checked value="0"> Masculino<br>
                                                <input type="radio" name="gender" value="1"> Femenino<br>
                                            {% else %}
                                                <input type="radio" name="gender" value="0"> Masculino<br>
                                                <input type="radio" name="gender" checked value="1"> Femenino<br>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group" style="display: none;">
                                            <div class="col-md-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="id" name="id"  value="{{affiliate.id}}"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-number-input">Nombres</label>
                                            <div class="col-md-10">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="name" placeholder="Nombres" value="{{affiliate.name}}"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Apellido paterno</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input2-group1" name="paternalLastName" placeholder="Apellido paterno" value="{{affiliate.paternalLastName}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Apellido materno</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input6-group1" name="maternalLastName" placeholder="Apellido materno" value="{{affiliate.maternalLastName}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                                <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Doc. de Identificacion</label>                                            
                                                <div class="col-md-10">
                                                   <div class="input-group">
                                                        <input class="form-control" id="num_doc" name="num_doc" placeholder="Doc" value="{{affiliate.document_number}}" pattern="[0-9]*" >
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-12" for="example-select">Tipo</label>
                                                <div class="col-md-10">
                                                    <select class="form-control" id="example-select" name="identity_document_type" size="1">
                                                        {% for doc_type in doc_types %}
                                                            {% if doc_type.id == affiliate.identity_document_type.id %}
                                                                <option selected value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                            {% else %}
                                                                <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>                                        
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-12"  for="example-select">Parentesco</label>
                                                <div class="col-md-10">
                                                    <select class="form-control" id="example-select" name="relationship" size="1">
                                                         {% for relationship in relationships %}
                                                            {% if relationship.id == affiliate.relationship.id %}
                                                                <option selected value="{{relationship.id}}">{{relationship.description}}</option>
                                                            {% else %}
                                                                <option value="{{relationship.id}}">{{relationship.description}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-number-input">Especialidad*</label>
                                            <div class="col-md-10">
                                               <div class="input-group">
                                                   {% if affiliate.specialization%}
                                                    <input class="form-control" id="example-input1-group1" name="specialization" value="{{affiliate.specialization}}"  type="text">
                                                    {% else %}
                                                    <input class="form-control" id="example-input1-group1" name="specialization" value=''  type="text">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Nacionalidad</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input2-group1" name="nationality" value="{{affiliate.nationality}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="col-xs-12" for="example-daterange1">Fecha de nacimiento</label>
                                                <div class="col-md-10">
                                                    <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                        <input class="form-control" type="text" id="example-daterange1" name="birthDate" value="{{affiliate.birthDate}}">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-number-input">Centro de Trabajo*</label>
                                            <div class="col-md-10">
                                               <div class="input-group">
                                                   {% if affiliate.workPlace%}
                                                    <input class="form-control" id="example-input1-group1" name="workPlace" value="{{affiliate.workPlace}}"  type="text">
                                                    {% else %}
                                                    <input class="form-control" id="example-input1-group1" name="workPlace" value=''  type="text">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Puesto de Trabajo*</label>
                                            <div class="col-md-10">
                                                {% if affiliate.workPlaceJob%}
                                                <input class="form-control" id="example-input2-group1" name="workPlaceJob" value="{{affiliate.workPlaceJob}}" type="text">
                                                {% else %}
                                                <input class="form-control" id="example-input2-group1" name="workPlaceJob" value='' type="text">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Teléfono de Oficina*</label>
                                            <div class="col-md-10">
                                                {% if affiliate.workPlacePhone %}
                                                <input class="form-control" id="example-input3-group1" name="workPlacePhone" value="{{affiliate.workPlacePhone}}" pattern="[0-9]*">
                                                {% else %}
                                                <input class="form-control" id="example-input3-group1" name="workPlacePhone" value=''>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Lugar de Nacimiento</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input1-group2" name="birthPlace" value="{{affiliate.birthPlace}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Departamento</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthDepartment" name="birthDepartment" size="1">
                                                            <option value="">Seleccione</option>
                                                            {% for u in departments%}
                                                                {% if u.department == affiliate.birthUbigeo.department %}
                                                                <option selected value="{{u.department}}">{{u.department}}</option>
                                                                {% else %}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Provincia</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthProvince" name="birthProvince" size="1">
                                                            {% for u in birthprovinces%}
                                                                {% if u.province == affiliate.birthUbigeo.province %}
                                                                    <option selected value="{{u.province}}">{{u.province}}</option>
                                                                {% else %}
                                                                    <option value="{{u.province}}">{{u.province}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Distrito</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="birthDistrict" name="birthDistrict" size="1">
                                                       {% for u in birthdistricts%}
                                                            {% if u.district == affiliate.birthUbigeo.district %}
                                                                <option selected value="{{u.district}}">{{u.district}}</option>
                                                            {% else %}
                                                                <option value="{{u.district}}">{{u.district}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Direccion</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input1-group2" name="address" placeholder="address" value="{{affiliate.address}}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Departamento</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="department" name="department" size="1">
                                                        <option value="">Seleccione</option>
                                                            {% for u in departments%}
                                                                {% if u.department == affiliate.ubigeo.department %}
                                                                <option selected value="{{u.department}}">{{u.department}}</option>
                                                                {% else %}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Provincia</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="province" name="province" size="1">
                                                        <option value="">Seleccione</option>
                                                            {% for u in provinces%}
                                                                {% if u.province == affiliate.ubigeo.province %}
                                                                    <option selected value="{{u.province}}">{{u.province}}</option>
                                                                {% else %}
                                                                    <option value="{{u.province}}">{{u.province}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Distrito</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="district" name="district" size="1">
                                                        <option value="">Seleccione</option>
                                                        {% for u in districts%}
                                                            {% if u.district == affiliate.ubigeo.district %}
                                                                <option selected value="{{u.district}}">{{u.district}}</option>
                                                            {% else %}
                                                                <option value="{{u.district}}">{{u.district}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-number-input">Estado Civil</label>
                                            <div class="col-md-10">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="maritalStatus" value="{{affiliate.maritalStatus}}"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Telefono Celular*</label>
                                            <div class="col-md-10">
                                                {% if affiliate.cellphoneNumber%}
                                                <input class="form-control" id="example-input2-group1" name="cellphoneNumber" value="{{affiliate.cellphoneNumber}}" pattern="[0-9]*">
                                                {% else %}
                                                <input class="form-control" id="example-input2-group1" name="cellphoneNumber" value="" type="text">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Teléfono</label>
                                            <div class="col-md-10">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-number1-group2" name="phone" placeholder="Teléfono" value="{{affiliate.phone}}"  >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Correo</label>
                                            <div class="col-md-10">
                                                <input class="form-control" id="example-input4-group2" name="email" value="{{affiliate.email}}" placeholder="Correo" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>              
                                <div class="form-group">                    
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="submit" formnovalidate="formnovalidate" name="cancel"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>    

{% endblock %}

{% block scripts %}

<script>
var CSRF_TOKEN = '{{ csrf_token }}';
var url= "{% url 'affiliate:verify_affiliate' %}"

    $(document).ready(function () {
        $('#department').change(function(){
        var department = $('#department :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:department, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#province').empty();
                    $('#province').append($('<option>', { text : 'Seleccione', value : ''}));
                    $('#district').empty();
                    $('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#province').append($('<option>', { 
                            text : item.province 
                        }));
                    });
                }
            });
        }
        });

        $('#province').change(function(){
        var province = $('#province :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#district').empty();
                    $('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#district').append($('<option>', { 
                            text : item.district 
                        }));
                    });
                }
            });
        }
        });

        $('#birthDepartment').change(function(){
        var birthDepartment = $('#birthDepartment :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:birthDepartment, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#birthProvince').empty();
                    $('#birthProvince').append($('<option>', { text : 'Seleccione', value : ''}));
                    $('#birthDistrict').empty();
                    $('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#birthProvince').append($('<option>', {
                            text : item.province
                        }));
                    });
                }
            });
        }
        });

        $('#birthProvince').change(function(){
        var birthProvince = $('#birthProvince :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:birthProvince, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){
                    $('#birthDistrict').empty();
                    $('#birthDistrict').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#birthDistrict').append($('<option>', {
                            text : item.district
                        }));
                    });
                }
            });
        }
        });
        
    });
</script>

<script src='{% static "assets/js/Admin/Membership/affiliate_forms_validation.js" %}'></script>



{% endblock %}