{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: miembros
{% endblock %}

{% block head_dahsboard %}
Miembros
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de miembros
{% endblock %}

{% block sub_head_dahsboard %}
Miembros
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de miembros
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
  <!-- Simple Table Full -->
    <div class="block block-bordered">
            <form id="myFormEdit" action="{% url 'affiliate:edit_index' %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid2" name="id"/>
            </form>
            <form id="myFormDelete" action="{% url 'affiliate:delete' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" name="id"/>
            </form>
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <div class="block-content">
            <form class="js-validation-bootstrap form-horizontal push-10-t push-10" action='{% url "affiliate:create_index" %}' method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="form-group" style="display: none;">
                            <div class="col-md-12">
                                 <div class="input-group">
                                      <input class="form-control" id="example-input1-group1" name="id" value="{{id_member}}"  type="text">
                                 </div>
                            </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-2 col-xs-offset-5">
                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Registrar</button>
                    </div>
                </div>
            </form>
            <table class="table table-bordered table-striped js-dataTable-simple">
                <thead>
                    <tr>
                            <th>Doc. Identidad</th>
                            <th>Num. Doc.</th>
                            <th>Nombres</th>
                            <th>Apellido paterno</th>
                            <th>Apellido materno</th>
                            <th>Teléfono</th>
                            <th>Correo</th>                                
                            <th>Acciónes</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for affiliate in affiliates %}                                       
                        <tr>
                            <td class="font-w600">{{affiliate.identity_document_type.name}}</td>
                            <td class="font-w600">{{affiliate.document_number}}</td>
                            <td class="font-w600">{{affiliate.name}}</td>
                            <td class="font-w600">{{affiliate.paternalLastName}}</td>
                            <td class="font-w600">{{member.maternalLastName}}</td>
                            <td class="font-w600">{{affiliate.phone}}</td>
                            <td class="font-w600">{{affiliate.email}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default editar" data-id="{{affiliate.id}}" type="button"  data-toggle="tooltip" title="Editar Afiliado"><i class="fa fa-user"></i></button>
                                    <button class="btn btn-xs btn-default eliminar" data-id="{{affiliate.id}}" type="button"  data-toggle="tooltip" title="Eliminar Afiliado"><i class="fa fa-user-times"></i></button>
                                </div>
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END Simple Table Full -->
    </div>
    <!-- END Page Content -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $('.editar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormEdit"].submit();    

        });     
        $('.eliminar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();    

        });    
        
    });
    </script>
    <!-- HASTA AQUÍ -->       

    {% endblock %}

