{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Usuario: afiliados
{% endblock %}

{% block head_dahsboard %}
Afiliado
{% endblock %}

{% block function_head_dahsboard %}
Nuevo afiliado
{% endblock %}

{% block sub_head_dahsboard %}
Afiliado
{% endblock %}

{% block function_sub_head_dahsboard %}
Nuevo afiliado
{% endblock %}

{% block content %}
     <div class="content content-narrow">
         <div class="content">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-warning" role="alert">
                    {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
        </div>
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-content">
                            <form class="js-validation-bootstrap form-horizontal push-10-t push-10" action='{% url "affiliate:admin_insert" %}' method="post" >
                            {% csrf_token %}
                             <div class="row">
                                <div class="form-group" style="display: none;">
                                            <div class="col-md-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="id_member" value="{{id_member}}"  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-lg-3" >                                        
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-number-input">Nombres</label>
                                            <div class="col-md-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input1-group1" name="name" placeholder="Nombres"  value=""  type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido paterno</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input2-group1" name="paternalLastName" placeholder="Apellido paterno" value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-8" for="example-number-input">Apellido materno</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="example-input3-group1" name="maternalLastName" placeholder="Apellido materno" value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                                <div class="row">
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Doc. de Identificacion</label>                                            
                                                <div class="col-lg-8">
                                                   <div class="input-group">
                                                        <input class="form-control" id="num_doc" name="num_doc" placeholder="Doc" value="" pattern="[0-9]*" >
                                                    </div>
                                                </div>
                                        </div>                                           
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6"  for="example-select">Tipo</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="example-select" name="identity_document_type" size="1">
                                                         {% for doc_type in doc_types %}
                                                            <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Direccion</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="example-input1-group2" name="address" placeholder="Direccion" value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Departamento</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="department" name="department" size="1">
                                                            <option value="">Seleccione</option>
                                                            {% for u in ubigeo%}
                                                                <option value="{{u.department}}">{{u.department}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Provincia</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="province" name="province" size="1">
                                                            <option value="">Seleccione</option>                                                          
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6" >
                                        <div class="form-group">
                                                <label class="col-xs-6" for="example-select">Distrito</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="district" name="district" size="1">
                                                       <option value="">Seleccione</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>        
                                 <div class="row">
                                    <div class="col-lg-3" >
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Teléfono</label>
                                            <div class="col-md-12">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-number1-group2" name="phone" placeholder="Teléfono" pattern="[0-9]*" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input2">Correo</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="example-input1-group3" name="email" placeholder="Correo" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                                 <div class="row">
                                   
                                </div>                    
                                <div class="form-group">                    
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Registrar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="submit" name="cancel" formnovalidate="formnovalidate"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>    

{% endblock %}

{% block scripts %}

<script>
var CSRF_TOKEN = '{{ csrf_token }}';
var url= "{% url 'affiliate:verify_affiliate' %}"
    $(document).ready(function () {
        $('#department').change(function(){
        var department = $('#department :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:provincias" %}',
                data:{department:department, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#province').empty();
                    $('#province').append($('<option>', { text : 'Seleccione', value : ''}));
                    $('#district').empty();
                    $('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#province').append($('<option>', { 
                            text : item.province 
                        }));
                    });
                }
            });
        }
        });

        $('#province').change(function(){
        var province = $('#province :selected').text();
        {
            $.ajax({
                type:'post',
                url:'{% url "ubigeo:distritos" %}',
                data:{province:province, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                cache:false,
                success: function(returndata){ 
                    $('#district').empty();
                    $('#district').append($('<option>', { text : 'Seleccione', value : ''}));
                    $.each(returndata, function(i, item) {
                        $('#district').append($('<option>', { 
                            text : item.district 
                        }));
                    });
                }
            });
        }
        });
        
    });
</script>

<script src='{% static "assets/js/Admin/Membership/affiliate_forms_validation.js" %}'></script>



{% endblock %}