{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: promociones
{% endblock %}

{% block head_dahsboard %}
Promociones
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de promociones
{% endblock %}

{% block sub_head_dahsboard %}
Promociones
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de promociones
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
  <!-- Simple Table Full -->
    <div class="block block-bordered">
            <form id="myFormDelete" action="{% url "promotions:delete" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" name="id"/>
            </form>
            <form id="myFormEdit" action="{% url "promotions:edit_index" %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid2" name="id"/>
            </form>
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <table class="table table-bordered table-striped js-dataTable-simple">
                <thead>
                    <tr>
                        <th style="display: none;" class="hidden-xs"#</th>
                            <th>Promocion</th>
                            <th>Descuento</th>                                       
                            <th>Acción</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for promotion in promotions %}                                       
                        <tr>
                            <td style="display: none;" class="hidden-xs">{{promotion.id}}</td>
                            <td class="font-w600">{{promotion.description}}</td>
                            <td class="font-w600">{{promotion.percentage}} %</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default editar" data-id="{{promotion.id}}" type="button"  data-toggle="tooltip" title="Editar Promoción"><i class="fa fa-pencil"></i></button>

                                    <button class="btn btn-xs btn-default eliminar" data-id="{{promotion.id}}" type="button" data-toggle="tooltip" title="Eliminar Promoción"><i class="fa fa-times"></i></button>
                                </div>
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Simple Table Full -->
    </div>
    <!-- END Page Content -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $('.editar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormEdit"].submit();    

        });
        $('.eliminar').click(function (e) {
           var id = $(this).attr("data-id")          
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();          
        });
        
    });
    </script>
    <!-- HASTA AQUÍ -->       

    {% endblock %}

