{% extends 'Admin/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin: promociones
{% endblock %}

{% block head_dahsboard %}
Promociones
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de promociones
{% endblock %}

{% block sub_head_dahsboard %}
Promociones
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de promociones
{% endblock %}

{% block content %}
     <div class="content content-narrow">
        <div class="content">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{msg.message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-content">
                            <form class="js-validation-bootstrap form-horizontal push-10-t push-10" action='{% url "promotions:insert" %}' method="post" >
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        <label class="col-xs-12" for="example-select">Promoción</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="example-input1-group1" name="description" placeholder="Promoción" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input">Descuento</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="example-number-input" name="percentage" placeholder="Descuento" >
                                                <div class="help-block">Agregue el %</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="start_date">Fechas del Evento</label>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="start_date" name="start_date" placeholder="Fecha y hora del Inicio del Evento" value="" >
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="end_date" name="end_date" placeholder="Fecha y hora del Fin del Evento" value="" >
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-number-input"> Seleccione campo</label>
                                            <div class="col-md-6">
                                                <input type="radio" name="promotion" id="membership" data-value="membership"> Solo membresía<br>
                                                <input type="radio" name="promotion" id="bungalow" data-value="bungalow" checked> Bungalow y Membresía<br>
                                                <input type="radio" name="promotion" id="events" data-value="event" checked> Eventos y Membresía<br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="seat">Elegir membresía</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <select class="form-control" id="example-select" name="headquarter" size="1">
                                                    {% for membership in membership_types %}
                                                        <option value="{{membership.id}}">{{membership.name}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                                <div class="row">
                                    {% if bungalow_types %}
                                    <div id="bungalow_table" data-url="{% url 'promotions:get_bungalows' %}">
                                        <label class="col-xs-12" for="seat">Elegir Tipo de bungalow</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                <select class="form-control" id="example-select" name="headquarter" size="1">
                                                    {% for type in bungalow_types %}
                                                        <option value="{{type.id}}">{{type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if events %}
                                    <div id="event_table" data-url="{% url 'promotions:get_events' %}">
                                        <label class="col-xs-12" for="seat">Elegir Evento</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                <select class="form-control" id="example-select" name="headquarter" size="1">
                                                    {% for event in events %}
                                                        <option value="{{event.id}}">{{event.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>                     
                                <div class="form-group">                    
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger" type="button" onclick="location.href='{% url "promotions:index" %}'"><i class="fa fa-remove push-5-r"></i> Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>    

{% endblock %}

{% block scripts %}

<script src='{% static "assets/js/Admin/Promotion/promotion_forms_validation.js" %}'></script>



{% endblock %}