{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: Tipo de eventos
{% endblock %}

{% block head_dahsboard %}
Tipo de eventos
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de tipo de eventos
{% endblock %}

{% block sub_head_dahsboard %}
Tipo de eventos
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de tipo de eventos
{% endblock %}

{% block content %}

<!-- Page Content -->
                <div class="content">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Tipo de Evento</h3>
                        </div>

                        <!-- Block v2 -->

                        {% for type in event_type %}
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action="{% url 'events_type:update' type.id %}" method="post">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-firstname">Nombre</label>
                                                <input class="form-control input-lg" type="text" id="mega-firstname" name="name" placeholder="{{type.name}}" value="{{type.name}}">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-firstname">Descripcion</label>
                                                <input class="form-control input-lg" type="text" id="mega-firstname" name="description" placeholder="{{type.description}}" value="{{type.description}}">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Estado</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bicycle"></i></span>
                                                    <select class="form-control" id="example-select" value="" placeholder="{{type.status}}" name="status" size="1">
                                                        <option value="0">Habilitado</option>
                                                        <option value="1">Deshabilitado</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                                    <div class="form-group">
                                        <div class="col-xs-2">
                                            <a href=''><button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Guardar</button></a>
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-4"><!-- type="submit" -->
                                            <a href="{% url 'events:index' %}"><button class="btn btn-danger" type="button" ><i class="fa fa-times push-5-r"></i> Cancelar</button></a>
                                        </div>
                                    </div>
                        </div>
                                </div>
                            </form>
                        </div>
{% endblock %}