{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: Tipo de eventos
{% endblock %}

{% block head_dahsboard %}
Tipo de eventos
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de tipo de eventos
{% endblock %}

{% block sub_head_dahsboard %}
Tipo de eventos
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de tipo de eventos
{% endblock %}

{% block content %}
                        {% if messages %}
                            {% for msg in messages %}       
                                <div class="alert alert-warning" role="alert">
                                    {{msg.message}}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action='{% url "events_type:insert" %}' method="post">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-firstname">Nombre</label>
                                                <input class="form-control input-lg" type="text" id="mega-firstname" name="name" placeholder="Event's name" value="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="mega-firstname">Descripción</label>
                                                    <input class="form-control input-lg" type="textarea" id="mega-firstname" name="description" placeholder="Event's description" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#createModal"><i class="fa fa-check push-5-r"></i> Crear</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="./Concessionaire.html"><button class="btn btn-warning" type="submit"><i class="fa fa-remove push-5-r"></i> Cancelar</button></a>
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- END Block v2 -->


                    </div>
                    </form>
                </div>
            <!-- END Main Container -->

{% endblock %}
