{% extends 'User/Layouts/base.html' %}

{% block head_title %}
Usuario
{% endblock %}

{% block head_dahsboard %}
Multas
{% endblock %}

{% block function_head_dahsboard %}
Lista de multas
{% endblock %}

{% block sub_head_dahsboard %}
Multas
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de multas
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
  <!-- Simple Table Full -->
    <div class="block block-bordered">
        <div class="block">

                        <div class="block-content">

                            <form class="form" id='busqueda' method="post" >
                                {% csrf_token %}
                                <div class row>
                                    <div class="col-lg-6" style="display: none;">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                               <div class="input-group">
                                                    <input class="form-control" id="example-input0-group1" name="member_id" placeholder="ID"  type="number" value= "{{member.id}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   <br>
                                    <div class="row">
                                        <div class="col-lg-5" >
                                            <div class="form-group">
                                            <label class="col-xs-1 " for="example-select">Estado</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" id="example-select" name="status" size="1">
                                                        <option value="">Todas</option>
                                                        <option value="Pagada">Pagadas</option>
                                                        <option value="Pendiente de Pago">Pendiente de Pago</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1" >

                                        </div>
                                    </div>
                                    <br>
                                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button class="btn btn-sm btn-primary" id='button' type="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                            </form>
                        </div>
                    </div>
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-simple" id='tabla'>
                <thead>
                    <tr>
                            <th>Observacion</th>
                            <th>Tipo</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id='tbodyid'>
                        {% for fine in fines %}
                        <tr>
                            <td class="font-w600">{{fine.observations}}</td>
                            <td class="font-w600">{{fine.reason}} </td>
                            <td class="font-w600">S/. {{fine.price}} </td>
                            <td class="font-w600">{{fine.status}} </td>
                            <td class="text-center">
                                            {% if fine.status == "Pendiente de Pago" %}
                                                <div class="btn-group">
                                                    <button class="btn btn-xs btn-default editar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Pagar"><i class="fa fa-usd"></i></button>
                                                </div>
                                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Simple Table Full -->
    </div>
    <!-- END Page Content -->

    <!-- HASTA AQUÍ -->

    {% endblock %}


{% block scripts %}

    <script>

    function editar() {
    }



    $(document).ready(function () {


        $('#button').click(function(){
        {
            var frm = $('#busqueda');
            $.ajax({
                type:'post',
                url:'{% url "fine:user_filter" %}',
                data: frm.serialize(),
                cache:false,
                success: function(returndata){
                    $('#tabla').dataTable().fnDestroy();
                    $("#tbodyid").empty();                  
                    returndata=JSON.parse(returndata)
                    $.each (returndata, function (key, value) {
                        obs=returndata[key].observations;
                        reason=returndata[key].reason;
                        price=returndata[key].price;
                        status=returndata[key].status;
                        id=returndata[key].id;
                        
                        $("#tbodyid").append('<tr><td class="font-w600">'+obs+'</td><td class="font-w600">'+reason+'</td><td class="font-w600"> S/. '+price+'</td><td class="font-w600">'+status+'</td><td class="text-center">'+'</td></tr>');
                    });  
                    $('#tabla').dataTable({
                            columnDefs: [ { orderable: true, targets: [ 1 ] } ],
                            pageLength: 10,
                            "autoWidth": false,
                            lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]],
                            searching: false,
                            oLanguage: {
                                sLengthMenu: "",                
                                sInfoEmpty:"No hay entradas",
                                sZeroRecords:"No hay datos disponibles",
                                sInfo: "Mostrando <strong>_START_</strong> al <strong>_END_</strong> de <strong>_TOTAL_</strong>",
                            },
                            dom:
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-6'i><'col-sm-6'p>>"
                    });   
              
                },
                
            });
        }
        });
        
    });
    </script>
    <!-- HASTA AQUÍ -->       

{% endblock %}