{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>YoQúeríaPHP -{% block head_title %}{% endblock %}</title>    

    <meta name="description" content="YoQúeríaPHP - Admin">
    <meta name="author" content="YoQúeríaPHP">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="shortcut icon" href='{% static "assets/img/favicons/favicon.png" %}'>
    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Page JS Plugins CSS --> 
    <link rel="stylesheet" href='{% static "assets/js/plugins/slick/slick.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/js/plugins/slick/slick-theme.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/js/plugins/datatables/jquery.dataTables.min.css" %}'>

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/js/plugins/select2/i18n/select2.min.css" %}'>
    <link rel="stylesheet" id="css-main" href='{% static "assets/css/oneui.css" %}'>

</head>
<body>
 <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="side-header side-content bg-white-op">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times"></i>
                    </button>
                    <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
                            <i class="si si-drop"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
                            <li>
                                <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme='{% static "assets/css/themes/amethyst.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                                </a>
                            </li> 
                            <li>
                                <a data-toggle="theme" data-theme='{% static "assets/css/themes/city.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme='{% static "assets/css/themes/flat.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                                </a> 
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme='{% static "assets/css/themes/modern.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme='{% static "assets/css/themes/smooth.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="h5 text-white" href="index.html">
                        <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ne</span>
                    </a>
                </div>
                <!-- END Side Header -->

                <!-- Side Content -->
                <div class="side-content">
                    <ul class="nav-main">
                        <li>
                            <a class="active" href='{% url "dashboard_u" %}'><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                        </li>
                        <li class="nav-main-heading"><span class="sidebar-mini-hide">Servicios al cliente</span></li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-bed"></i><span class="sidebar-mini-hide">Bungalows</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "bungalows-u" %}'>Consultar Bungalows</a>
                                </li> 
                                <li>
                                    <a href='{% url "historic-bungalows-u" %}'>Ver reserva de Bungalows</a>
                                </li>
                                <li>
                                    <a href='{% url "raffle-bungalows-u" %}'>Inscribir a sorteo</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-book"></i><span class="sidebar-mini-hide">Cursos</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "courses-u" %}'>Consultar cursos</a>
                                </li>
                                <li>
                                    <a href='{% url "historic-courses-u" %}'>Ver inscripciones de cursos</a>
                                </li>
                            </ul>
                        </li> 
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-bicycle"></i><span class="sidebar-mini-hide">Actividades</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "activities-u" %}'>Consultar actividades</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa-flag on fa-circle"></i><span class="sidebar-mini-hide">Sedes</span></a>
                            <ul>
                                <li>
                                    <a href=''>Consultar sedes</a>
                                </li>   
                                <li>
                                    <a href='{% url "headquarters:index" %}'>Nueva sede</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-calendar-check-o"></i><span class="sidebar-mini-hide">Eventos</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "events-u" %}'>Consultar Eventos</a>
                                </li>                                
                                <li>
                                    <a href='{% url "historic-events-u" %}'>Ver inscripción de Eventos</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-futbol-o"></i><span class="sidebar-mini-hide">Canchas</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "sport-fields-u" %}'>Consultar canchas</a>
                                </li>
                                <li>
                                    <a href='{% url "historic-sport-fields-u" %}'>Ver reserva de canchas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-map-signs"></i><span class="sidebar-mini-hide">Servicios</span></a>
                            <ul>
                                <li>
                                    <a href='{% url "services-u" %}'>Consultar servicios</a>
                                </li>
                                <li>
                                    <a href='{% url "historic-services-u" %}'>Ver solicitudes de servicios</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-user-plus"></i><span class="sidebar-mini-hide">Membresía</span></a>
                            <ul>                                        
                                <li>
                                    <a href='{% url "debts-members-u"%}'>Pagos de membresía</a> 
                                </li>
                                <li> 
                                    <a href='{% url "guests-members-u"%}'>Lista de invitados</a>
                                </li>
                                <li>
                                    <a href='{% url "new-guests-members-u"%}'>Registrar invitados</a>
                                </li> 
                                <li>
                                    <a href='{% url "objections-members-u"%}'>Consultar socios en objeciones</a>
                                </li>
                                <li>
                                    <a href='{% url "affiliates-members-u"%}'>Afiliados</a>
                                </li>
                                <li>
                                    <a href='{% url "new-affiliates-members-u"%}'>Registrar Afiliados</a>
                                </li>
                                <li>
                                    <a href='{% url "memberships:show" %}'> Ver Membresía</a>
                                  </li>  
                            </ul>
                        </li>                                                            

                    </ul>
                </div>
                <!-- END Side Content -->
            </div>
            <!-- Sidebar Content -->
        </div>
        <!-- END Sidebar Scroll Container -->
    </nav>
    <!-- END Sidebar -->

    <!-- Header -->
    <header id="header-navbar" class="content-mini content-mini-full">
        <!-- Header Navigation Right -->
        <ul class="nav-header pull-right">
            <li>
                <div class="btn-group"> 
                    <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                        <img src='{% static "assets/img/avatars/avatar10.jpg" %}' alt="Avatar">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a tabindex="-1" href="base_pages_login.html">
                                <i class="si si-logout pull-right"></i>Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                    <i class="fa fa-tasks"></i>
                </button>
            </li>
        </ul>
        <!-- END Header Navigation Right -->


    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">

        <!-- Page Header --> 
        <div class="content bg-image overflow-hidden" style="background-image: url('{% static "assets/img/photos/photo3@2x.jpg" %}');">
            <div class="push-50-t push-15">
                <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
                <h2 class="h5 text-white-op animated zoomIn">Bienvenido Usuario</h2>
            </div>
        </div>

{% ifnotequal titulo " Usuario: Index" %}
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">
                        {% block head_dahsboard %}{% endblock %} <small>{% block function_head_dahsboard %}{% endblock %}</small>
                    </h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>{% block sub_head_dahsboard %}{% endblock %}</li>
                        <li><a class="link-effect" href="">{% block function_sub_head_dahsboard %}{% endblock %}</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END Page Header -->
{% endifnotequal %}

        {% block content %}
        {% endblock %}

    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right">
            Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="#" target="_blank">yoQúeríaPHP</a>
        </div>
        <div class="pull-left">
            <a class="font-w600" href="#" target="_blank">SwUI 1.1</a> &copy; <span class="js-year-copy"></span>
        </div>
    </footer>
    <!-- END Footer -->

</div>
<!-- END Page Container -->


        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src='{% static "assets/js/core/jquery.min.js" %}'></script>
        <script src='{% static "assets/js/core/bootstrap.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.slimscroll.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.scrollLock.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.appear.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.countTo.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.placeholder.min.js" %}'></script>
        <script src='{% static "assets/js/core/js.cookie.min.js" %}'></script>
        <script src='{% static "assets/js/app.js" %}'></script>

        <!-- Page Plugins -->
        <script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>

        <!-- Page JS Code -->
        <!--<script src="assets/js/pages/base_pages_dashboard.js"></script>-->
        <script>
            jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script> 

        <!-- Page JS Plugins -->
        <script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>

        <!-- Page JS Code -->
        <!-- <script src="assets/js/pages/base_tables_datatables.js"></script>-->
        <script src='{% static "assets/js/tablas.js" %}'></script>

        <!-- Page JS Plugins -->
        <script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/select2/select2.full.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>

        <!-- Page JS Code -->
        <script src='{% static "assets/js/pages/base_forms_pickers_more.js" %}'></script>
        <script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });
        </script>

    </body>
    </html>