{% extends 'base.html' %}

{% block head_title %}
Usuario: servicios
{% endblock %}

{% block head_dahsboard %}
Servicios
{% endblock %}

{% block function_head_dahsboard %}
Solicitud
{% endblock %}

{% block sub_head_dahsboard %}
Servicios
{% endblock %}

{% block function_sub_head_dahsboard %}
Editar Solicitud
{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="content content-narrow">
    <!-- Mega Form -->
    <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                </li>                                
            </ul>
        </div>
        <div class="block-content">
            <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">Servicio elegido</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                                    <input class="form-control" type="text" id="example-input1-group1" name="example-input1-group1" placeholder="Username" disabled="" value="Servicio de lavandería">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">Sede elegida</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input class="form-control" type="text" id="example-input1-group1" name="example-input1-group1" placeholder="Username" disabled="" value="Sede principal">
                                </div>
                            </div>
                        </div>
                    </div>                                    

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-datetimepicker3">Fecha y hora de servicio</label>
                            <div class="col-md-6">
                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                    <input class="form-control" type="text" id="example-datetimepicker3" name="example-datetimepicker3" placeholder="Seleccione una fecha.." value="03/15/2016">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">Precio</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input class="form-control" type="text" id="example-input1-group1" name="example-input1-group1" placeholder="Username" disabled="" value="S/. 50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="mega-bio">Observaciones</label>
                                <textarea class="form-control input-lg" id="mega-bio" name="mega-bio" rows="8" placeholder="Ingrese alguna observación adicional que debamos tener en cuenta para atenderlo mejor.">Deseo que este lo más pronto posible</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-2 col-xs-offset-4"> <!-- type="submit" -->
                        <a href='{% url "historic-services-u" %}'><button class="btn btn-danger" type="button" ><i class="fa fa-times push-5-r"></i> Cancelar</button></a>
                    </div>
                    <div class="col-xs-2">
                        <a href='{% url "historic-services-u" %}'><button class="btn btn-success" type="button"><i class="fa fa-check push-5-r"></i> Editar</button></a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- END Mega Form -->
</div>
<!-- END Page Content -->

{% endblock %}