{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Login</title>

        <meta name="description" content="YoQueríaPHP - Login">
        <meta name="author" content="TeamStark">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href='{% static "assets/img/favicons/favicon.png"%}'>
        <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-16x16.png"%}' sizes="16x16">
        <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-32x32.png"%}' sizes="32x32">
        <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-96x96.png"%}' sizes="96x96">
        <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-160x160.png"%}' sizes="160x160">
        <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-192x192.png"%}' sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href='{% static "assets/img/favicons/apple-touch-icon-57x57.png"%}'>
        <link rel="apple-touch-icon" sizes="60x60" href='{% static "assets/img/favicons/apple-touch-icon-60x60.png"%}'>
        <link rel="apple-touch-icon" sizes="72x72" href='{% static "assets/img/favicons/apple-touch-icon-72x72.png"%}'>
        <link rel="apple-touch-icon" sizes="76x76" href='{% static "assets/img/favicons/apple-touch-icon-76x76.png"%}'>
        <link rel="apple-touch-icon" sizes="114x114" href='{% static "assets/img/favicons/apple-touch-icon-114x114.png"%}'>
        <link rel="apple-touch-icon" sizes="120x120" href='{% static "assets/img/favicons/apple-touch-icon-120x120.png"%}'>
        <link rel="apple-touch-icon" sizes="144x144" href='{% static "assets/img/favicons/apple-touch-icon-144x144.png"%}'>
        <link rel="apple-touch-icon" sizes="152x152" href='{% static "assets/img/favicons/apple-touch-icon-152x152.png"%}'>
        <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/img/favicons/apple-touch-icon-180x180.png"%}'>
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
        <link rel="stylesheet" id="css-main" href='{% static "assets/css/oneui.css" %}'>

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>        
        
        <div id="page-container" >            

            <!-- Main Container -->
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-image" style="background-image: url('{% static "assets/img/landing/campo.jpg" %}');">
                <div class="bg-primary-dark-op">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Iniciar Sesión.</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Ingrese a su panel.</h2>
                        </div>
                        
                        <!-- END Section Content -->
                    </section>
                </div>
                </div>
                <!-- END Hero Content -->
{% block content %}
                
{% endblock %}
                <!-- Sign Up Today -->
                
                <!-- END Sign Up Today -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-white">
                <div class="content content-boxed">
                    <!-- Footer Navigation -->
                    <div class="row push-30-t items-push-2x">
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Compañia</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <a class="font-w600" href='{% url "login:index" %}'>Inicio</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#services">Servicios</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Pricing</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Nosotros</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Soporte</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <a class="font-w600" href='{% url "login:index" %}'>Log In</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Políticas de privacidad</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Terms &amp; Condiciones</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Ponte en contacto</h3>
                            <div class="font-s13 push">
                                <strong>YoQueríaPHP, Inc.</strong><br>
                                Av. Universitaria 1801<br>
                                Distrito de Lima<br>
                                <abbr title="Phone">P:</abbr> (01) 523-6146
                            </div>
                            <div class="font-s13">
                                <i class="si si-envelope-open"></i> starkapp@yoqueriaphp.com
                            </div>
                        </div>
                    </div>
                    <!-- END Footer Navigation -->

                    <!-- Copyright Info -->
                    <div class="font-s12 push-20 clearfix">
                        <hr class="remove-margin-t">
                        <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" target="_blank">YoQueriaPHP</a>
                        </div>
                        <div class="pull-left">
                            <a class="font-w600" target="_blank">SwUI 1.1</a> &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                    <!-- END Copyright Info -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src='{% static "assets/js/core/jquery.min.js" %}'></script>
        <script src='{% static "assets/js/core/bootstrap.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.slimscroll.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.scrollLock.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.appear.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.countTo.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.placeholder.min.js" %}'></script>
        <script src='{% static "assets/js/core/js.cookie.min.js" %}'></script>
        <script src='{% static "assets/js/app.js" %}'></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function () {
                // Init page helpers (Appear plugin)
                App.initHelpers('appear');
            });
        </script>
    </body>
</html>