{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>StarkApp - Club Número 1</title>

    <meta name="description" content="YoQueríaPHP - Principal">
    <meta name="author" content="TeamStark">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href='{% static "assets/img/favicons/favicon.png"%}'>
    <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-16x16.png"%}' sizes="16x16">
    <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-32x32.png"%}' sizes="32x32">
    <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-96x96.png"%}' sizes="96x96">
    <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-160x160.png"%}' sizes="160x160">
    <link rel="icon" type="image/png" href='{% static "assets/img/favicons/favicon-192x192.png"%}' sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href='{% static "assets/img/favicons/apple-touch-icon-57x57.png"%}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "assets/img/favicons/apple-touch-icon-60x60.png"%}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "assets/img/favicons/apple-touch-icon-72x72.png"%}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "assets/img/favicons/apple-touch-icon-76x76.png"%}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "assets/img/favicons/apple-touch-icon-114x114.png"%}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "assets/img/favicons/apple-touch-icon-120x120.png"%}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "assets/img/favicons/apple-touch-icon-144x144.png"%}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "assets/img/favicons/apple-touch-icon-152x152.png"%}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/img/favicons/apple-touch-icon-180x180.png"%}'>
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" id="css-main" href='{% static "assets/css/oneui.css" %}'>

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
    <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
            'header-navbar-transparent'  Enables a transparent header (if also fixed, it will get a solid dark background color on scrolling)
        -->
        <div id="page-container" class="sidebar-l sidebar-mini sidebar-o side-scroll header-navbar-fixed header-navbar-transparent">
            <!-- Sidebar -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="side-header side-content">
                            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                            <button class="btn btn-link text-gray pull-right visible-xs visible-sm" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>
                            <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                            <div class="btn-group pull-right visible-md visible-lg">
                                <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
                                    <i class="si si-drop"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
                                    <li>
                                        <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme='{% static "assets/css/themes/amethyst.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme='{% static "assets/css/themes/city.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme='{% static "assets/css/themes/flat.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme='{% static "assets/css/themes/modern.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme='{% static "assets/css/themes/smooth.min.css" %}' tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class="h5 text-white" href="#">
                                <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ne</span>
                            </a>
                        </div>
                        <!-- END Side Header -->

                        <!-- Side Content -->
                        <div class="side-content">
                            <ul class="nav-main">
                                <li class="open">
                                    <a href=#begin><i class="si si-home"></i><span class="sidebar-mini-hide">Inicio</span></a>                                    
                                </li>
                                <li>
                                    <a href="#bungalows"><i class="fa fa-bed"></i><span class="sidebar-mini-hide">Bungalows</span></a>
                                </li>
                                <li>
                                    <a href="#numbers"><i class="fa-hashtag"></i><span class="sidebar-mini-hide">Datos</span></a>
                                </li>
                                <li>
                                    <a href="#services"><i class="fa fa-sticky-note-o"></i><span class="sidebar-mini-hide">Servicios</span></a>
                                </li>
                                <li>
                                    <a href="#ratings"><i class="fa fa-comments-o"></i><span class="sidebar-mini-hide">Comentarios</span></a>
                                </li>
                                <li>
                                    <a href='{% url "login:index" %}'><i class="fa fa-users"></i><span class="sidebar-mini-hide">Iniciar Sesión</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Side Content -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
            <!-- END Sidebar -->

            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full hidden-md hidden-lg">
                <div class="content-boxed">
                    <!-- Header Navigation Right -->
                    <ul class="nav-header pull-right">
                        <li>
                            <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                            <div class="btn-group">
                                <button class="btn btn-link text-white dropdown-toggle" data-toggle="dropdown" type="button">
                                    <i class="si si-drop"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right sidebar-mini-hide font-s13">
                                    <li>
                                        <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme="assets/css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme="assets/css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme="assets/css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="theme" data-theme="assets/css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                            <button class="btn btn-link text-white pull-right" type="button" data-toggle="layout" data-action="sidebar_open">
                                <i class="fa fa-navicon"></i>
                            </button>
                        </li>
                    </ul>
                    <!-- END Header Navigation Right -->

                    <!-- Header Navigation Left -->
                    <ul class="nav-header pull-left">
                        <li class="header-content">
                            <a class="h5" href="frontend_home.html">
                                <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 text-white">ne</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END Header Navigation Left -->
                </div>
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-image" style="background-image: url('{% static "assets/img/landing/campo.jpg" %}');">
                    <div class="bg-primary-dark-op">
                        <section id="begin" class="content content-full content-boxed overflow-hidden">
                            <!-- Section Content -->
                            <div class="push-100-t push-50 text-center">
                                <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Club StarkApp</h1>
                                <h2 class="h5 text-white-op push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">El paraiso en la tierra</h2>
                                <!--<a class="btn btn-rounded btn-noborder btn-lg btn-primary visibility-hidden" data-toggle="appear" data-class="animated bounceIn" data-timeout="800" href="frontend_pricing.html">Purchase Today</a>-->
                            </div>

                            <!-- END Section Content -->
                        </section>
                    </div>
                </div>
                <!-- END Hero Content -->
                <div id="bungalows" class=""> <!-- background white: bg-white -->
                    <section class="content content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="row items-push-2x push-30-t nice-copy">
                            <div class="col-lg-5">
                                <div class="push-50 animated fadeInLeft" data-toggle="appear" data-class="animated fadeInLeft"> 
                                    <h3 class="h5 font-w600 text-uppercase push-5"><i class="si si-home text-flat push-5-r"></i>Bungalows</h3>
                                    <h4 class="h3 font-w300 push-10">Más comodos que tu hogar</h4>
                                    <p>El club ofrece el servicio de reservas de bungalows en las distintas sedes. Nuestros bungalows son bastante amplios y cómodos para ofrecerle el descanso que necesita.</p>
                                </div>
                                
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 visible-lg">
                                <img class="img-responsive animated fadeInRight" data-toggle="appear" data-offset="-250" data-class="animated fadeInRight" src='{% static "assets/img/landing/bungalow.jpg" %}' alt="">

                            </div>
                        </div>
                        <div class="row items-push-2x push-30-t nice-copy">
                            <div class="col-lg-5">
                                <img class="img-responsive animated fadeInLeft" data-toggle="appear"  data-class="animated fadeInLeft" src='{% static "assets/img/landing/bungalow2.jpg" %}' alt="">
                                
                            </div>
                            <div class="col-lg-5 col-lg-offset2-2 visible-lg">
                                <div class="push-50 animated fadeInRight" data-toggle="appear" data-offset="-250" data-class="animated fadeInRight"> 
                                    <h3 class="h5 font-w600 text-uppercase push-5"><i class="si si-home text-flat push-5-r"></i>Bungalows</h3>
                                    <h4 class="h3 font-w300 push-10">Para todos los gustos</h4>
                                    <p>Tenemos el bungalow que buscas. Si vienes con tu pareja a disfrutar de una velada romántica o si vienes con toda tu familia a disfrutar de una celebración familiar. Ofrecemos bungalows de distinta capacidad y tipos de acuerdo a tu necesidad.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>


            <!-- Mini Stats -->
                <div class="bg-white">
                    <section id="numbers" class="content content-boxed">
                        <!-- Section Content -->
                        <div class="row items-push push-20-t push-20 text-center">
                            <div class="col-sm-4">
                                <div class="h1 push-5" data-toggle="countTo" data-to="100" data-after="%"></div>
                                <div class="font-w600 text-uppercase text-muted">Cumplimiento</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="h1 push-5" data-toggle="countTo" data-to="120" data-after="%"></div>
                                <div class="font-w600 text-uppercase text-muted">Comodidad</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="h1 push-5" data-toggle="countTo" data-to="200" data-after="%"></div>
                                <div class="font-w600 text-uppercase text-muted">Diversión</div>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Mini Stats -->

                <!-- Team -->
                <div class="bg-gray-lighter">
                    <section id="services" class="content content-boxed">
                        <!-- Section Content -->
                        <div class="push-50-t push-20">
                            <div class="row items-push-2x">
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            
                                            <h3 class="block-title">Parrilladas</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/parrillas.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/parrillas.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Deliciosas y excelentes parrilladas en grupo, lugares especiales para cocinar fácilmente lo que desees y disfrutar una comida con los amigos o familia.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">                      
                                            </ul>
                                            <h3 class="block-title">Caballos</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/caballo.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/caballo.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Disponemos de hermosos y bien cuidados caballos para pequeños paseos en el club, disfruta de los paseos en pareja o permite a tu niño que descubra la experiencia de motnar a caballo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                            </ul>
                                            <h3 class="block-title">Sauna</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/sauna.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/sauna.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Prueba nuestros saunas para olvidar todos los problemas y dejarlos evaporarse. Saunas a distintas temperaturas para todos los gustos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row items-push-2x">
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                            </ul>
                                            <h3 class="block-title">Juegos de mesa</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/juegos4.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/juegos4.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Diversión para todas las edades, ofrecemos distintos juegos de mesa para toda la familia desde fulbito de mesa hasta el clásico monopolio.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                            </ul>
                                            <h3 class="block-title">Fútbol</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/futbol.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/futbol.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>Te consideras un Lionel Messi o una Alex Morgan, pues en nuestras canchas de fútbol puedes demostrar tus habilidades.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 visibility-hidden" data-toggle="appear" data-class="animated zoomIn">
                                    <div class="block">
                                        <div class="block-header">
                                            <ul class="block-options">
                                            </ul>
                                            <h3 class="block-title">Voley</h3>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{% static "assets/img/landing/voley3.jpg" %}');">
                                            <img class="img-avatar img-avatar96 img-avatar-thumb" src='{% static "assets/img/landing/voley3.jpg" %}' alt="">
                                        </div>
                                        <div class="block-content">
                                            <p>¿No eres de futbol, eres más de voley? Entonces juega los partidos que desees en nuestras canchas de voley iluminadas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Team -->

                <!-- Ratings -->
                <div class="bg-image" style="background-image: url('{% static "assets/img/photos/photo3@2x.jpg" %}');">
                    <div class="bg-primary-dark-op">
                        <section id="ratings" class="content content-full content-boxed">
                            <!-- Section Content -->
                            <div class="row items-push-2x push-50-t text-center">
                                <div class="col-sm-4 visibility-hidden" data-toggle="appear" data-offset="-150">
                                    <img class="img-avatar img-avatar-thumb" src='{% static "assets/img/avatars/avatar4.jpg" %}' alt="">
                                    <div class="text-warning push-10-t push-15">
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                    </div>
                                    <div class="h4 text-white-op push-5">Fui con mi esposo y mis hijos y fue el mejor fin de semana de nuestras vidas.</div>
                                    <div class="h6 text-gray">- Romina Ballesteros</div>
                                </div>
                                <div class="col-sm-4 visibility-hidden" data-toggle="appear" data-offset="-150" data-timeout="150">
                                    <img class="img-avatar img-avatar-thumb" src='{% static "assets/img/avatars/avatar11.jpg" %}' alt="">
                                    <div class="text-warning push-10-t push-15">
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                    </div>
                                    <div class="h4 text-white-op push-5">Siempre vuelvo cada verano para disfrutar del mejor servicio y comodidad</div>
                                    <div class="h6 text-gray">- Ines Correa</div>
                                </div>
                                <div class="col-sm-4 visibility-hidden" data-toggle="appear" data-offset="-150" data-timeout="300">
                                    <img class="img-avatar img-avatar-thumb" src='{% static "assets/img/avatars/avatar8.jpg" %}' alt="">
                                    <div class="text-warning push-10-t push-15">
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                        <i class="fa fa-fw fa-star"></i>
                                    </div>
                                    <div class="h4 text-white-op push-5">Nos cuesta volver a la realidad, luego de disfrutar del paraiso</div>
                                    <div class="h6 text-gray">- Sandra Torres</div>
                                </div>
                            </div>
                            <!-- END Section Content -->
                        </section>
                    </div>
                </div>
                <!-- END Ratings -->

            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-white">
                <div class="content content-boxed">
                    <!-- Footer Navigation -->
                    <div class="row push-30-t items-push-2x">
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Compañia</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <a class="font-w600" href='{% url "login:index" %}'>Inicio</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#services">Servicios</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Pricing</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Nosotros</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Soporte</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <a class="font-w600" href='{% url "login:index" %}'>Log In</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Políticas de privacidad</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Terms &amp; Condiciones</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Ponte en contacto</h3>
                            <div class="font-s13 push">
                                <strong>YoQueríaPHP, Inc.</strong><br>
                                Av. Universitaria 1801<br>
                                Distrito de Lima<br>
                                <abbr title="Phone">P:</abbr> (01) 523-6146
                            </div>
                            <div class="font-s13">
                                <i class="si si-envelope-open"></i> starkapp@yoqueriaphp.com
                            </div>
                        </div>
                    </div>
                    <!-- END Footer Navigation -->

                    <!-- Copyright Info -->
                    <div class="font-s12 push-20 clearfix">
                        <hr class="remove-margin-t">
                        <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" target="_blank">YoQueriaPHP</a>
                        </div>
                        <div class="pull-left">
                            <a class="font-w600" target="_blank">SwUI 1.1</a> &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                    <!-- END Copyright Info -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src='{% static "assets/js/core/jquery.min.js" %}'></script>
        <script src='{% static "assets/js/core/bootstrap.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.slimscroll.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.scrollLock.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.appear.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.countTo.min.js" %}'></script>
        <script src='{% static "assets/js/core/jquery.placeholder.min.js" %}'></script>
        <script src='{% static "assets/js/core/js.cookie.min.js" %}'></script>
        <script src='{% static "assets/js/app.js" %}'></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function () {
                // Init page helpers (Appear + CountTo plugins)
                App.initHelpers(['appear', 'appear-countTo']);
            });
        </script>
    </body>
    </html>