{% extends 'base.html' %}

{% block head_title %}
Usuario: membresía
{% endblock %}

{% block head_dahsboard %}
Membresía
{% endblock %}

{% block function_head_dahsboard %}
Afiliados
{% endblock %}

{% block sub_head_dahsboard %}
Membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Registrar afiliado
{% endblock %}

{% block content %}

<!-- Page Content -->
                <div class="content content-narrow">
                    <!-- Mega Form -->
                    <div class="block block-bordered">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>                                
                            </ul>
                        </div>
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Nombre de afiliado</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="example-input1-group1" placeholder="Nombre de invitado" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">DNI de afiliado</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="example-input1-group1" placeholder="DNI de invitado" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="mega-firstname">Edad de invitado</label>
                                            <div class="col-md-6">                          
                                                <input class="form-control input-md" id="mega-firstname" name="mega-firstname" placeholder="Ingrese la edad" value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Seleccione afinidad</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="example-select" name="example-select" size="1">
                                                    <option value="0">Conyuge</option>
                                                    <option value="1">Hijo</option>
                                                    <option value="2">Hija</option>                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-bio">Observaciones</label>
                                                <textarea class="form-control input-lg" id="mega-bio" name="mega-bio" rows="8" placeholder="Ingrese alguna observación adicional para atenderlo mejor."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">                                
                                    <div class="col-xs-2 col-xs-offset-4"> <!-- type="submit" -->
                                        <a href='{% url "affiliates-members-u"%}'><button class="btn btn-danger" type="button" ><i class="fa fa-times push-5-r"></i> Cancelar</button></a>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href='{% url "affiliates-members-u"%}'><button class="btn btn-success" type="button"><i class="fa fa-check push-5-r"></i> Registrar</button></a>
                                    </div>
                                                                      
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Mega Form -->
                </div>
                <!-- END Page Content -->

                {% endblock %}