{% extends 'Admin/Layouts/base_a.html' %}

{% load staticfiles %}

{% block head_title %}
User: reservar canchas
{% endblock %}

{% block head_dahsboard %}
Reservar canchas
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de canchas disponibles
{% endblock %}

{% block sub_head_dahsboard %}
Canchas disponibles
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de canchas disponibles
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<div class="content">

    <!-- Table Header (Filters) -->
    <div class="block">
        <div class="block-content">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Reserva de canchas</h3></br>
                    <div class="row">
                        {% include 'User/Reservation/combo_headquarter.html' with select_id="headquarter_id" %}
                    </div>
                    <label class="col-xs-12">Seleccionar fechas de la reserva</label>
                        <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                <input class="form-control" type="text" id="arrival_date" name="arrival_date" placeholder="Llegada">
                        <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                        </div>

                        <div class="row" id="environment_content">
                            {% include 'User/Reservation/combo_fields.html' with select_id="environment_id" %}
                        </div>

                        <div class="row" id="start_hour">
                            {% include 'User/Reservation/combo_hour.html' with select_id="start_hour" %}
                        </div>

                        <div class="row" id="stay_content">
                            {% include 'User/Reservation/combo_duration.html' with select_id="reserved_hours" %}
                        </div>
                </div>
                <a href="" type="button" action >Checked</a>
            </div>
        </div>
    </div>
    <!-- END Table Header (Filters) -->
</div>
<!-- END Page Content -->


{% endblock %}


{% block scripts %}

<!-- Page Plugins -->
<script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>

<script>
    jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script> 

        <!-- Page JS Plugins -->
        <script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/select2/select2.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
        <script src='{% static "assets/js/plugins/jquery-validation/additional-methods.min.js" %}'></script>
        
        
        <script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });
        </script>



        <script src='{% static "assets/js/Admin/Events/events_validation.js" %}'></script>
        <!-- <script src='{% static "assets/js/pages/base_forms_pickers_more.js" %}'></script> -->

{% endblock %}