{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: miembros
{% endblock %}

{% block head_dahsboard %}
Miembros
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de miembros
{% endblock %}

{% block sub_head_dahsboard %}
Miembros
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de miembros
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <div class="block">
            <div class="block-content">
                <form class="form" action='{% url "members:filter" %}' method="post" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-xs-12" for="example-select">Nombre</label>
                                <div class="col-md-12">
                                   <div class="input-group">
                                        <input class="form-control" id="example-number1-group2" name="name" placeholder="nombre" type="text"  size="60">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-xs-12" for="example-select">Apellido Paterno</label>
                                <div class="col-sm-12">
                                   <div class="input-group">
                                        <input class="form-control" id="example-number1-group2" name="paternalLastName" placeholder="Apellido Paterno" type="text"  size="60">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-xs-12" for="example-select">Numero de Documento</label>
                                <div class="col-lg-12">
                                   <div class="input-group">
                                        <input class="form-control" id="example-number1-group2" name="num_doc" placeholder="Num Documento" pattern="[0-9]*"  size="60">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-lg-6" for="example-select">Apellido Materno</label>
                                <div class="col-lg-12">
                                   <div class="input-group">
                                        <input class="form-control" id="example-number1-group2" name="maternalLastName" placeholder="Apellido Materno" type="text" size="60" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <br>
                    <div class="row">
                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-lg-6 " for="example-select">Estado de Suspension</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="example-select" name="suspended" size="1">
                                        <option value="2">Todos</option>
                                        <option value="0">No suspendido</option>
                                        <option value="1">Suspendido</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5" >
                            <div class="form-group">
                            <label class="col-xs-6 " for="example-select">Documento de Identidad</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="example-select" name="identity_document_type" size="1">
                                        <option value="Todos">Todos</option>
                                        {% for doc_type in doc_types %}
                                            <option value="{{doc_type.id}}">{{doc_type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
                </form>
            </div>
                    </div>
  <!-- Simple Table Full -->
    <div class="block block-bordered">
            <form id="myFormEdit" action="{% url 'members:edit_index' %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid2" name="id"/>
            </form>
            <form id="myFormDelete" action="{% url 'members:delete' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid1" name="id"/>
            </form>
            <form id="myFormMembre" action="{% url 'memberships:edit/index' %} " method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid3" name="id"/>
            </form>
            <form id="myFormUser" action="{% url 'users:edit_user_member' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid4" name="id"/>
            </form>
            <form id="myFormFine" action=" {% url 'fine:create_index' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" id="hid5" name="id"/>
            </form>
            <form id="myFormFines" action=" {% url 'fine:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="hid6" name="id"/>
            </form>
            <form id="myFormAffiliates" action=" {% url 'affiliate:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="hid7" name="id"/>
            </form>
            <form id="myFormSuspension" action=" {% url 'suspension:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="hid8" name="id"/>
            </form>
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-simple">
                <thead>
                    <tr>
                            <th>Doc. Identidad</th>
                            <th>Num. Doc.</th>
                            <th>Nombres</th>
                            <th>Apellido paterno</th>
                            <th>Apellido materno</th>
                            <th>Teléfono</th>
                            <th>Correo</th>                                
                            <th>Acciónes</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}                                       
                        <tr>
                            <td class="font-w600">{{member.identity_document_type.name}}</td>
                            <td class="font-w600">{{member.document_number}}</td>
                            <td class="font-w600">{{member.name}}</td>
                            <td class="font-w600">{{member.paternalLastName}}</td>
                            <td class="font-w600">{{member.maternalLastName}}</td>
                            <td class="font-w600">{{member.phone}}</td>
                            <td class="font-w600">{{member.email}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default editar" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Editar Miembro"><i class="fa fa-user"></i></button>
                                    <button class="btn btn-xs btn-default eliminar" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Eliminar Miembro"><i class="fa fa-user-times"></i></button>
                                    <button class="btn btn-xs btn-default membre" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Editar Membresia"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-default user" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Editar Usuario"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-xs btn-default fine" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Agregar Multa"><i class="fa fa-warning"></i></button>
                                    <button class="btn btn-xs btn-default fines" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Ver Multas"><i class="fa fa-navicon"></i></button>
                                    <button class="btn btn-xs btn-default affiliates" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Ver Afiliados"><i class="fa fa-navicon"></i></button>
                                    <button class="btn btn-xs btn-default suspension" data-id="{{member.id}}" type="button"  data-toggle="tooltip" title="Suspender Miembro"><i class="fa fa-navicon"></i></button>
                                </div>
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Simple Table Full -->
    </div>
    <!-- END Page Content -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $('.editar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormEdit"].submit();    

        });     
        $('.eliminar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();    

        });    
        $('.membre').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid3').val(id)
            document.forms["myFormMembre"].submit();    

        });    
        $('.user').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid4').val(id)
            document.forms["myFormUser"].submit();    

        });   
        $('.fine').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid5').val(id)
            document.forms["myFormFine"].submit();    

        });
        $('.fines').click(function (e) {
            var id = $(this).attr("data-id")
            $('#hid6').val(id)
            document.forms["myFormFines"].submit();
        });
        $('.affiliates').click(function (e) {
            var id = $(this).attr("data-id")
            $('#hid7').val(id)
            document.forms["myFormAffiliates"].submit();

        });
        $('.suspension').click(function (e) {
            var id = $(this).attr("data-id")
            $('#hid8').val(id)
            document.forms["myFormSuspension"].submit();
        });

    });
    </script>
    <!-- HASTA AQUÍ -->       

    {% endblock %}

