{% extends 'User/Layouts/base.html' %}

{% block head_title %}
User: solicitudes de membresías
{% endblock %}

{% block head_dahsboard %}
Solicitud de Membresía
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de solicitudes de membresía
{% endblock %}

{% block sub_head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de solicitudes de membresía
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <!-- Simple Table Full -->

    <div class="block block-bordered">
            <form id="myFormObject" action="{% url 'membership_application:objection_index' %} " method="post">
                {% csrf_token %}
                <input type="hidden" id="hid2" name="id"/>
            </form>
            <form id="myFormDelete" action="{% url 'membership_application:objection_delete' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="hid1" name="id"/>
            </form>
                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-simple"  id='tabla'>
                                 <thead>
                                    <tr>
                                        <th>Doc. de Identidad</th>
                                        <th>Num. de Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellido paterno</th>                                       
                                        <th>Apellido materno</th>                                       
                                        <th>Fecha Inicio</th>  
                                        <th>Fecha Fin</th>  
                                        <th>Comentarios</th> 
                                        <th>Acciones</th>                                      
                                    </tr>
                                </thead>
                                <tbody id='tbodyid'>
                                    {% for membershipApp in membershipApplications %}                                       
                                        <tr>
                                            <td class="font-w600">{{membershipApp.identity_document_type.name}}</td>
                                            <td class="font-w600">{{membershipApp.document_number}}</td>
                                            <td class="font-w600">{{membershipApp.firstName}}</td>
                                            <td class="font-w600">{{membershipApp.paternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.maternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.initialDate}}</td>
                                            <td class="font-w600">{{membershipApp.finalDate}}</td>
                                            <td class="font-w600">{{membershipApp.comments}}</td>
                                            <td class="text-center">
                                               <div class="btn-group">
                                    <button class="btn btn-xs btn-default objetar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Agregar objeción"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-default eliminar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Eliminar objeción"><i class="fa fa-user-times"></i></button>
                                </div>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Simple Table Full -->
                </div>
                <!-- END Page Content -->
{% endblock %}

{% block scripts %}

    <script>
  function objetar() {
     $('.objetar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormObject"].submit();    

        });
     $('.eliminar').click(function (e) {
            var id = $(this).attr("data-id")
            $('#hid1').val(id)
            document.forms["myFormDelete"].submit();
       });
    }


    $(document).ready(function () {
        objetar();

        $('#button').click(function(){
        {
            var frm = $('#busqueda');
            $.ajax({
                type:'post',
                url:'{% url "membership_application:user_filter" %}',
                data: frm.serialize(),
                cache:false,
                success: function(returndata){
                    $('#tabla').dataTable().fnDestroy();
                    $("#tbodyid").empty();                  
                    $.each (returndata, function (key, value) {
                        doc=returndata[key].fields.identity_document_type;
                        doc_num=returndata[key].fields.document_number;
                        name=returndata[key].fields.firstName;
                        pat=returndata[key].fields.paternalLastName;
                        mat=returndata[key].fields.maternalLastName;
                        iniD=returndata[key].fields.initialDate;
                        endD=returndata[key].fields.finalDate;
                        comm=returndata[key].fields.comments;
                        id=returndata[key].pk;
                        var html =  '<div class="btn-group"><button class="btn btn-xs btn-default objetar" data-id="'+id+'"type="button"  data-toggle="tooltip" title="Agregar objeción"><i class="fa fa-pencil"></i></button></div>'
                        if(doc==1){
                            doc='DNI'
                        }else if(doc==2){
                            doc='Pasaporte'
                        }
                        $("#tbodyid").append('<tr><td class="font-w600">'+doc+'</td><td class="font-w600">'+doc_num+'</td><td class="font-w600">'+name+'</td><td class="font-w600">'+pat+'</td><td class="font-w600">'+mat+'</td><td class="font-w600">'+iniD+'</td><td class="font-w600">'+endD+'</td><td class="font-w600">'+comm+'</td><td class="text-center">'+html+'</td></tr>');
                        
                    }); 

                    $('#tabla').dataTable({
                            columnDefs: [ { orderable: true, targets: [ 1 ] } ],
                            pageLength: 10,
                            "autoWidth": false,
                            lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]],
                            searching: false,
                            oLanguage: {
                                sLengthMenu: "",                
                                sInfoEmpty:"No hay entradas",
                                sZeroRecords:"No hay datos disponibles",
                                sInfo: "Mostrando <strong>_START_</strong> al <strong>_END_</strong> de <strong>_TOTAL_</strong>",
                            },
                            dom:
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-6'i><'col-sm-6'p>>"
                    });   
                    objetar();
              
                },
                
            });
        }
        });
        
    });
       
    </script>
                <!-- HASTA AQUÍ -->       

                {% endblock %}