{% extends 'User/Layouts/base.html' %}

{% block head_title %}
User: solicitudes de membresías
{% endblock %}

{% block head_dahsboard %}
Solicitud de Membresía
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de solicitudes de membresía
{% endblock %}

{% block sub_head_dahsboard %}
Solicitud de membresía
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de solicitudes de membresía
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">
    <!-- Simple Table Full -->

    <div class="block block-bordered">
            <form id="myFormObject" action="{% url 'membership_application:objection_index' %} " method="post">
                {% csrf_token %}
                <input type="hidden" id="hid2" name="id"/>
            </form>
            <form id="myFormDelete" action="{% url 'membership_application:objection_delete' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="hid1" name="id"/>
            </form>
                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-simple"  id='tabla'>
                                 <thead>
                                    <tr>
                                        <th>Doc. de Identidad</th>
                                        <th>Num. de Documento</th>
                                        <th>Nombres</th>
                                        <th>Apellido paterno</th>                                       
                                        <th>Apellido materno</th>                                       
                                        <th>Fecha Inicio</th>  
                                        <th>Fecha Fin</th>  
                                        <th>Comentarios</th> 
                                        <th>Acciones</th>                                      
                                    </tr>
                                </thead>
                                <tbody id='tbodyid'>
                                    {% for membershipApp in membershipApplications %}                                       
                                        <tr>
                                            <td class="font-w600">{{membershipApp.identity_document_type.name}}</td>
                                            <td class="font-w600">{{membershipApp.document_number}}</td>
                                            <td class="font-w600">{{membershipApp.firstName}}</td>
                                            <td class="font-w600">{{membershipApp.paternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.maternalLastName}}</td>
                                            <td class="font-w600">{{membershipApp.initialDate|date:"d-m-Y"}}</td>
                                            <td class="font-w600">{{membershipApp.finalDate|date:"d-m-Y"}}</td>
                                            <td class="font-w600">{{membershipApp.comments}}</td>
                                            <td class="text-center">
                                               <div class="btn-group">
                                                {% if not membershipApp.objection %}
                                    <button class="btn btn-xs btn-default objetar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Agregar objeción"><i class="fa fa-pencil"></i></button>
                                    {% else %}
                                    <button class="btn btn-xs btn-default eliminar" data-id="{{membershipApp.id}}" type="button"  data-toggle="tooltip" title="Eliminar objeción"><i class="fa fa-user-times"></i></button>
                                    {% endif %}
                                </div>
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Simple Table Full -->
                </div>
                <!-- END Page Content -->
{% endblock %}

{% block scripts %}

<script>

    var insert = {{objection_inserted|yesno:"true,false"}}
    var deleted = {{objection_deleted|yesno:"true,false"}}

    $(document).ready(function () {
        if(insert){
            swal({
                title: "Objeción creada",
                text: "Se ha creado la objeción exitosamente",
                type: "success",                
                showConfirmButton: false,
                timer: 2000
            }); 
        }else if(deleted){
            swal({
                title: "Objeción eliminada",
                text: "Se ha eliminado la objeción exitosamente",
                type: "success",                
                showConfirmButton: false,
                timer: 2000
            }); 
        }

    $('.objetar').click(function (e) {
            var id = $(this).attr("data-id")          
            $('#hid2').val(id)
            document.forms["myFormObject"].submit();    

        });
     $('.eliminar').click(function (e) {
            var id = $(this).attr("data-id")
            $('#hid1').val(id)
            swal({
                title: "Eliminar Objeción",
                text: "¿Desea eliminar la objeción realizada a " + $(this).parent().parent().prevAll().eq(5).html()+" " + $(this).parent().parent().prevAll().eq(4).html() + "?",
                type: "error",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            },
            function(){                
                document.forms["myFormDelete"].submit();     
            });     
       });
  
    });
       
    </script>
                <!-- HASTA AQUÍ -->       

{% endblock %}