{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Usuario: eventos
{% endblock %}

{% block head_dahsboard %}
Eventos
{% endblock %}

{% block function_head_dahsboard %}
Inscripción
{% endblock %}

{% block sub_head_dahsboard %}
Eventos
{% endblock %}

{% block function_sub_head_dahsboard %}
Editar Inscripción
{% endblock %}

{% block content %}

<!-- Page Content -->
                <div class="content content-narrow">
                    <div class="block block-bordered">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"></h3>
                        </div>

                        {% if messages %}
                            {% for msg in messages %}       
                                <div class="alert alert-warning" role="alert">
                                    {{msg.message}}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Block v2 -->
                        {% for event in events %}
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action="{% url 'events:update' event.id %}" method="post">
                                 {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Nombre del evento</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bicycle"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="name" placeholder="{{event.name}}" value="{{event.name}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Tipo de evento</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bicycle"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="event_type_id" placeholder="{{event.event_type_id}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Usuario</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="user_id" placeholder="usuario" value="usuario" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Razón Social</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="number" id="example-input1-group1" name="ruc" placeholder="{{event.ruc}}" value="{{event.ruc}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Sede elegida</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="seat" placeholder="{{event.seat}}"value="{{event.seat}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Ambiente</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="environment" placeholder="ambiente">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-datetimepicker3">Fechas del Evento</label>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="example-datetimepicker3" name="start_date" placeholder="{{event.start_date}}" value="{{event.start_date}}">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="example-datetimepicker3" name="end_date" placeholder="{{event.end_date}}" value="{{event.end_date}}" >
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Cantidad máxima de participantes</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input class="form-control" type="number" id="example-input1-group1" name="assistance" placeholder="{{event.assistance}}" value="{{event.assistance}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Costo de entrada</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                                    <input class="form-control" type="number" id="example-input1-group1" name="price" placeholder="{{event.price}}" value="{{event.price}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-bio">Observaciones</label>
                                                <textarea class="form-control input-lg" id="mega-bio" name="description" rows="8" placeholder="{{event.description}}" value="{{event.description}}"></textarea>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-xs-2 col-xs-offset-4"><!-- type="submit" -->
                                        <a href=''><button class="btn btn-danger" type="button" ><i class="fa fa-times push-5-r"></i> Retirarse</button></a>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href=''><button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Inscribirse</button></a>
                                    </div>
                                </div>
                            </form>
                            {% endfor %}
                        </div>
                        
                        <!-- END Block v2 -->                        
                    </div>  
                </div>
                <!-- END Page Content -->


{% endblock %}