{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Usuario: eventos
{% endblock %}

{% block head_dahsboard %}
Eventos
{% endblock %}

{% block function_head_dahsboard %}
Inscripción
{% endblock %}

{% block sub_head_dahsboard %}
Eventos
{% endblock %}

{% block function_sub_head_dahsboard %}
Nueva Inscripción
{% endblock %}

{% block content %}

<!-- Page Content -->
                <div class="content content-narrow">
                    <div class="block block-bordered">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"></h3>
                        </div>

                        {% if messages %}
                            {% for msg in messages %}       
                                <div class="alert alert-warning" role="alert">
                                    {{msg.message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Block v2 -->
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action='{% url "events:insert" %}' method="post" >{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Evento elegido</label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bicycle"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="name" placeholder="Evento">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Tipo de evento</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="example-select" name="event_type_id" size="1">
                                                    <option value="0">Sede principal</option>
                                                    <option value="1">Camacho</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Usuario</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="user_id" placeholder="Id del usuario" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Razón Social</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="number" maxlength="8" id="example-input1-group1" name="ruc" placeholder="R.U.C" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Sede elegida</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="seat" placeholder="Sede Principal" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Ambiente</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    <input class="form-control" type="text" id="example-input1-group1" name="environment" placeholder="Sede Principal" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-datetimepicker3">Fechas del Evento</label>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="example-datetimepicker3" name="start_date" placeholder="Fecha y hora del Inicio del Evento" >
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="js-datetimepicker input-group date" data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                                    <input class="form-control" type="text" id="example-datetimepicker3" name="end_date" placeholder="Fecha y hora del Fin del Evento" >
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Cantidad máxima de participantes</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input class="form-control" type="number" id="example-input1-group1" name="assistance" placeholder="Cantidad máxima de participantes" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Costo de entrada</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                                    <input class="form-control" type="number" id="example-input1-group1" name="price" placeholder="S/.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-bio">Observaciones</label>
                                                <textarea class="form-control input-lg" id="mega-bio" name="description" rows="8" placeholder="Ingrese alguna observación adicional que debamos tener en cuenta para atenderlo mejor."></textarea>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-xs-2 col-xs-offset-4"><!-- type="submit" -->
                                        <button href="{% url 'events:index' %}" class="btn btn-danger" type=""><i class="fa fa-times push-5-r"></i> Cancelar</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button href=""class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i> Crear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <!-- END Block v2 -->                        
                    </div>  
                </div>
                <!-- END Page Content -->


{% endblock %}