{% extends 'User/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin/Usuario
{% endblock %}

{% block head_dahsboard %}
Admin/Usuario
{% endblock %}

{% block function_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block sub_head_dahsboard %}
Admin/Usuario
{% endblock %}

{% block function_sub_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block content %}
    <div class="content content-narrow">
                    
                    <!-- END Mega Form -->
    </div>   


{% endblock %}

{% block scripts %}


{% endblock %}