{% extends 'User/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Usuario
{% endblock %}

{% block head_dahsboard %}
Usuario
{% endblock %}

{% block function_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block sub_head_dahsboard %}
Usuario
{% endblock %}

{% block function_sub_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block content %}
    <div class="content content-narrow">
    	<div class="bg-white">
                    <section class="content content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="content-grid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown">
                                    <a class="block block-bordered block-rounded block-link-hover3" href="javascript:void(0)">
                                        <div class="block-content block-content-full border-b text-center">
                                            <div class="item">
                                                <i class="si si-user text-amethyst"></i>
                                            </div>
                                        </div>
                                        <div class="block-content block-content-full block-content-mini">
                                            <span class="font-w600 text-uppercase"><span class="badge badge-default pull-right">23</span> Account</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 animated fadeInDown" data-toggle="appear" data-timeout="200" data-class="animated fadeInDown">
                                    <a class="block block-bordered block-rounded block-link-hover3" href="javascript:void(0)">
                                        <div class="block-content block-content-full border-b text-center">
                                            <div class="item">
                                                <i class="si si-settings text-city"></i>
                                            </div>
                                        </div>
                                        <div class="block-content block-content-full block-content-mini">
                                            <span class="font-w600 text-uppercase"><span class="badge badge-default pull-right">11</span> Features</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 animated fadeInDown" data-toggle="appear" data-timeout="400" data-class="animated fadeInDown">
                                    <a class="block block-bordered block-rounded block-link-hover3" href="javascript:void(0)">
                                        <div class="block-content block-content-full border-b text-center">
                                            <div class="item">
                                                <i class="si si-target text-flat"></i>
                                            </div>
                                        </div>
                                        <div class="block-content block-content-full block-content-mini">
                                            <span class="font-w600 text-uppercase"><span class="badge badge-default pull-right">16</span> Services</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 animated fadeInDown" data-toggle="appear" data-timeout="600" data-class="animated fadeInDown">
                                    <a class="block block-bordered block-rounded block-link-hover3" href="javascript:void(0)">
                                        <div class="block-content block-content-full border-b text-center">
                                            <div class="item">
                                                <i class="si si-wallet text-smooth"></i>
                                            </div>
                                        </div>
                                        <div class="block-content block-content-full block-content-mini">
                                            <span class="font-w600 text-uppercase"><span class="badge badge-default pull-right">19</span> Payment</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>

                <div class="content content-boxed">
                    <div class="row">
                        <div class="col-sm-7 col-lg-8">
                            <!-- Timeline -->
                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-newspaper-o"></i> Updates</h3>
                                </div>
                                <div class="block-content">
                                    <ul class="list list-timeline pull-t">
                                        <!-- Facebook Notification -->
                                        <li>
                                            <div class="list-timeline-time">3 hrs ago</div>
                                            <i class="fa fa-facebook list-timeline-icon bg-default"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">+ 290 Page Likes</p>
                                                <p class="font-s13">This is great, keep it up!</p>
                                            </div>
                                        </li>
                                        <!-- END Facebook Notification -->

                                        <!-- Generic Notification -->
                                        <li>
                                            <div class="list-timeline-time">4 hrs ago</div>
                                            <i class="fa fa-briefcase list-timeline-icon bg-modern"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">3 New Products were added!</p>
                                                <div class="push-10-t">
                                                    <a data-original-title="MyPanel" class="item item-rounded push-10-r bg-info" data-toggle="tooltip" title="" href="javascript:void(0)">
                                                        <i class="si si-rocket text-white-op"></i>
                                                    </a>
                                                    <a data-original-title="Project Time" class="item item-rounded push-10-r bg-amethyst" data-toggle="tooltip" title="" href="javascript:void(0)">
                                                        <i class="si si-calendar text-white-op"></i>
                                                    </a>
                                                    <a data-original-title="iDashboard" class="item item-rounded push-10-r bg-city" data-toggle="tooltip" title="" href="javascript:void(0)">
                                                        <i class="si si-speedometer text-white-op"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END Generic Notification -->

                                        <!-- Twitter Notification -->
                                        <li>
                                            <div class="list-timeline-time">12 hrs ago</div>
                                            <i class="fa fa-twitter list-timeline-icon bg-info"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">+ 1150 Followers</p>
                                                <p class="font-s13">You’re getting more and more followers, keep it up!</p>
                                            </div>
                                        </li>
                                        <!-- END Twitter Notification -->

                                        <!-- System Notification -->
                                        <li>
                                            <div class="list-timeline-time">1 day ago</div>
                                            <i class="fa fa-database list-timeline-icon bg-smooth"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">Database backup completed!</p>
                                                <p class="font-s13">Download the <a href="javascript:void(0)">latest backup</a>.</p>
                                            </div>
                                        </li>
                                        <!-- END System Notification -->

                                        <!-- Social Notification -->
                                        <li>
                                            <div class="list-timeline-time">2 days ago</div>
                                            <i class="fa fa-user-plus list-timeline-icon bg-success"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">+ 5 Friend Requests</p>
                                                <ul class="nav-users push-10-t push">
                                                    <li>
                                                        <a href="base_pages_profile.html">
                                                            <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="">
                                                            <i class="fa fa-circle text-success"></i> Rebecca Gray
                                                            <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="base_pages_profile.html">
                                                            <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                                                            <i class="fa fa-circle text-success"></i> Jeremy Fuller
                                                            <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="base_pages_profile.html">
                                                            <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                                            <i class="fa fa-circle text-warning"></i> Linda Moore
                                                            <div class="font-w400 text-muted"><small>Photographer</small></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="base_pages_profile.html">
                                                            <img class="img-avatar" src="assets/img/avatars/avatar14.jpg" alt="">
                                                            <i class="fa fa-circle text-warning"></i> Dennis Ross
                                                            <div class="font-w400 text-muted"><small>Copywriter</small></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="base_pages_profile.html">
                                                            <img class="img-avatar" src="assets/img/avatars/avatar14.jpg" alt="">
                                                            <i class="fa fa-circle text-danger"></i> Ryan Hall
                                                            <div class="font-w400 text-muted"><small>UI Designer</small></div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- END Social Notification -->

                                        <!-- System Notification -->
                                        <li>
                                            <div class="list-timeline-time">1 week ago</div>
                                            <i class="fa fa-cog list-timeline-icon bg-primary-dark"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">System updated to v2.02</p>
                                                <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                                            </div>
                                        </li>
                                        <!-- END System Notification -->

                                        <!-- Generic Notification -->
                                        <li>
                                            <div class="list-timeline-time">2 weeks ago</div>
                                            <i class="fa fa-briefcase list-timeline-icon bg-modern"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">1 New Product was added!</p>
                                                <div class="push-10-t">
                                                    <a data-original-title="eSettings" class="item item-rounded push-10-r bg-modern" data-toggle="tooltip" title="" href="javascript:void(0)">
                                                        <i class="si si-settings text-white-op"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END Generic Notification -->

                                        <!-- System Notification -->
                                        <li>
                                            <div class="list-timeline-time">2 months ago</div>
                                            <i class="fa fa-cog list-timeline-icon bg-primary-dark"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600">System updated to v2.01</p>
                                                <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                                            </div>
                                        </li>
                                        <!-- END System Notification -->
                                    </ul>
                                </div>
                            </div>
                            <!-- END Timeline -->
                        </div>
                        <div class="col-sm-5 col-lg-4">
                            <!-- Products -->
                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-fw fa-briefcase"></i> Products</h3>
                                </div>
                                <div class="block-content">
                                    <ul class="list list-simple list-li-clearfix">
                                        <li>
                                            <a class="item item-rounded pull-left push-10-r bg-info" href="javascript:void(0)">
                                                <i class="si si-rocket text-white-op"></i>
                                            </a>
                                            <h5 class="push-10-t">MyPanel</h5>
                                            <div class="font-s13">Responsive App Template</div>
                                        </li>
                                        <li>
                                            <a class="item item-rounded pull-left push-10-r bg-amethyst" href="javascript:void(0)">
                                                <i class="si si-calendar text-white-op"></i>
                                            </a>
                                            <h5 class="push-10-t">Project Time</h5>
                                            <div class="font-s13">Web application</div>
                                        </li>
                                        <li>
                                            <a class="item item-rounded pull-left push-10-r bg-danger" href="javascript:void(0)">
                                                <i class="si si-speedometer text-white-op"></i>
                                            </a>
                                            <h5 class="push-10-t">iDashboard</h5>
                                            <div class="font-s13">Bootstrap Admin Template</div>
                                        </li>
                                    </ul>
                                    <div class="text-center push">
                                        <small><a href="javascript:void(0)">View More..</a></small>
                                    </div>
                                </div>
                            </div>
                            <!-- END Products -->

                            <!-- Ratings -->
                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-fw fa-pencil"></i> Ratings</h3>
                                </div>
                                <div class="block-content">
                                    <ul class="list list-simple">
                                        <li>
                                            <div class="push-5 clearfix">
                                                <div class="text-warning pull-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a class="font-w600" href="base_pages_profile.html">Eugene Burke</a>
                                                <span class="text-muted">(5/5)</span>
                                            </div>
                                            <div class="font-s13">Flawless design execution! I'm really impressed with the product, it really helped me build my app so fast! Thank you!</div>
                                        </li>
                                        <li>
                                            <div class="push-5 clearfix">
                                                <div class="text-warning pull-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a class="font-w600" href="base_pages_profile.html">Jeremy Fuller</a>
                                                <span class="text-muted">(5/5)</span>
                                            </div>
                                            <div class="font-s13">Great value for money and awesome support! Would buy again and again! Thanks!</div>
                                        </li>
                                        <li>
                                            <div class="push-5 clearfix">
                                                <div class="text-warning pull-right">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <a class="font-w600" href="base_pages_profile.html">Judy Alvarez</a>
                                                <span class="text-muted">(5/5)</span>
                                            </div>
                                            <div class="font-s13">Working great in all my devices, quality and quantity in a great package! Thank you!</div>
                                        </li>
                                    </ul>
                                    <div class="text-center push">
                                        <small><a href="javascript:void(0)">Read More..</a></small>
                                    </div>
                                </div>
                            </div>
                            <!-- END Ratings -->

                            <!-- Followers -->
                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-fw fa-share-alt"></i> Followers</h3>
                                </div>
                                <div class="block-content">
                                    <ul class="nav-users push">
                                        <li>
                                            <a href="base_pages_profile.html">
                                                <img class="img-avatar" src="assets/img/avatars/avatar13.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> Ryan Hall
                                                <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="base_pages_profile.html">
                                                <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> Julia Cole
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="base_pages_profile.html">
                                                <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Laura Bell
                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="text-center push">
                                        <small><a href="javascript:void(0)">Load More..</a></small>
                                    </div>
                                </div>
                            </div>
                            <!-- END Followers -->
                        </div>
                    </div>
                </div>

    </div>   


{% endblock %}

{% block scripts %}


{% endblock %}