{% extends 'User/Layouts/base.html' %}

{% load staticfiles %}

{% block head_title %}
Admin/Usuario
{% endblock %}

{% block head_dahsboard %}
Admin/Usuario
{% endblock %}

{% block function_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block sub_head_dahsboard %}
Admin/Usuario
{% endblock %}

{% block function_sub_head_dahsboard %}
Pantalla Inicio
{% endblock %}

{% block content %}
    <div class="content content-narrow">
                    
                    <!-- END Mega Form -->
    </div>   

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $("#example-select").val({{user.type}});
        
    });
    </script> 

{% endblock %}

{% block scripts %}


        <!-- Page JS Plugins -->
<script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>

<script src='{% static "assets/js/Admin/User/user_forms_validation.js" %}'></script>



{% endblock %}