{% extends 'Admin/Layouts/base.html' %}
{% load staticfiles %}

{% block head_title %}
Admin: bungalows
{% endblock %}

{% block head_dahsboard %}
Bungalows
{% endblock %}

{% block function_head_dahsboard %}
Nuevo bungalow
{% endblock %}

{% block sub_head_dahsboard %}
Bungalows
{% endblock %}

{% block function_sub_head_dahsboard %}
Creación de bungalows
{% endblock %}

{% block content %}
<div class="content content-narrow">
    <!-- Mega Form -->
    <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                        <i class="si si-refresh"></i></button>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <form class="form-horizontal push-10-t push-10" action='{% url "bungalow:create" %}' method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12">Seleccione una sede</label>
                            <div class="col-md-6">
                                <select class="form-control" name="headquarter_id" size="1">
                                    {% for headquarter in headquarters %}
                                    <option value="{{headquarter.id}}">{{headquarter.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">Numero de bungalow</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="example-text-input" name="number" placeholder="Bungalows ###" type="number">
                                <div class="help-block">Agregue la numeración</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-xs-12">Seleccione el tipo de bungalow</label>
                            <div class="col-md-6">
                                <select class="form-control"name="bungalow_type_id" size="1">
                                    {% for bungalowType in bungalowTypes %}
                                    <option value="{{ bungalowType.id }}">{{ bungalowType.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">Estado del bungalow</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="example-select" name="status" size="1">
                                    {% for status in status_choices %}
                                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">Ubicacion</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control" id="example-input1-group1" name="location" placeholder="Ubicacion" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="mega-bio">Observaciones</label>
                                <textarea class="form-control input-lg" id="mega-bio" name="mega-bio" rows="8" placeholder="Ingrese alguna observación adicional acerca del bungalow"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-4">
                            <button class="btn btn-success" type="submit"><i class="fa fa-check push-5-r"></i>Crear
                            </button>

                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type=""><i class="fa fa-remove push-5-r"></i> Cancelar
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <!-- END Mega Form -->
</div>

{% endblock %}


{% block scripts %}

<!-- Page Plugins -->
<script src='{% static "assets/js/plugins/slick/slick.min.js" %}'></script>
<script src='{% static "assets/js/plugins/chartjs/Chart.min.js" %}'></script>

<script>
                    jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });

</script>

<!-- Page JS Plugins -->
<script src='{% static "assets/js/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datetimepicker/moment.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<script src='{% static "assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}'></script>
<script src='{% static "assets/js/plugins/select2/select2.min.js" %}'></script>
<script src='{% static "assets/js/plugins/masked-inputs/jquery.maskedinput.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js" %}'></script>
<script src='{% static "assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js" %}'></script>
<script src='{% static "assets/js/plugins/dropzonejs/dropzone.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-validation/jquery.validate.min.js" %}'></script>
<script src='{% static "assets/js/plugins/jquery-validation/additional-methods.min.js" %}'></script>


<script>
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                App.initHelpers(['datepicker', 'datetimepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider', 'tags-inputs']);
            });

</script>

<script src='{% static "assets/js/tablas.js" %}'></script>


{% endblock %}