{% extends 'Admin/Layouts/base.html' %}
{% load staticfiles %}

{% block head_title %}
Admin: ambientes reservados
{% endblock %}

{% block head_dahsboard %}
Reserva de Ambientes
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de ambientes reservados
{% endblock %}

{% block sub_head_dahsboard %}
Reserva de Ambientes
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de ambientes reservados
{% endblock %}


{% block links %}
<link rel="stylesheet" href='{% static "assets/css/fullcalendar/fullcalendar.min.css" %}'>
<link rel="stylesheet" href='{% static "assets/css/fullcalendar/fullcalendar.print.css" %}' media='print'>
{% endblock %}

{% block content %}

<!-- A PARTIR DE AQUÍ ENTRAN A MODIFICAR SU CONTENIDO -->

<!-- Page Content -->
<div class="content">

    <!-- Table Header (Filters) -->
    <div class="block">
        <div class="block-content">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="col-xs-12" for="headquarter_id">Seleccione una sede</label>
                            <select class="form-control" id="headquarter_id" size="1">
                                {% for headquarter in headquarters %}
                                <option value="{{headquarter.id}}">{{headquarter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" id="select_env">
                            {% include 'Admin/Environments/Create_Reservation_Envs.html' %}
                        </div>
                    </div>
                </div>
                <div id='calendar'></div>

                

        </div>
    </div>
    <!-- END Table Header (Filters) -->

    <!-- Simple Table Full -->
    <div class="block block-bordered">
        <div class="block-content" id="form-content">
        </div>
    </div>
    <!-- END Simple Table Full -->
</div>
<!-- END Page Content -->

<!-- HASTA AQUÍ -->       

{% endblock %}

{% block scripts %}

<!-- Page Plugins -->


        <script src='{% static "assets/js/fullcalendar/moment.min.js" %}'></script>
        <script src='{% static "assets/js/fullcalendar/fullcalendar.min.js" %}'></script>
        <script src='{% static "assets/js/fullcalendar/es.js" %}'></script>
                
        <script src='{% static "assets/js/Admin/Environment/create_reservation_ajax.js" %}'></script>


{% endblock %}