{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Usuario: environments
{% endblock %}

{% block head_dahsboard %}
Environments
{% endblock %}

{% block function_head_dahsboard %}
Reservación
{% endblock %}

{% block sub_head_dahsboard %}
Environments
{% endblock %}

{% block function_sub_head_dahsboard %}
Editar reserva
{% endblock %}

{% block content %}

                <!-- Page Content -->
                <div class="content">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">AMBIENTES</h3>
                        </div>

                        <!-- Block v2 -->
                        <div class="block-content">
                            <form class="form-horizontal push-10-t push-10" action='{% url "environment:edit" %}' method="post" >
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="mega-firstname">Codigo</label>
                                                <input class="form-control input-lg" type="text" id="mega-firstname" name="mega-firstname" placeholder="Enter your firstname.." value="001" disabled>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="mega-lastname">Nombre</label>
                                                <input class="form-control input-lg" type="text" id="mega-lastname" name="mega-lastname" placeholder="Ingrese el nombre..">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Sede</label>
                                            <div class="col-sm-9">
                                                <select class="form-control input-lg" id="example-select" name="example-select" size="1">
                                                    <option value="0">Seleccione una sede</option>
                                                    <option value="1">Sede #1</option>
                                                    <option value="2">Sede #2</option>
                                                    <option value="3">Sede #3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="mega-bio">Descripción</label>
                                                <textarea class="form-control input-lg" id="mega-bio" name="mega-bio" rows="22" placeholder="Ingrese una breve descripción del ambiente.."></textarea>
                                            </div>
                                        </div>
                                    </div>
									<div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-xs-12" for="example-select">Estado</label>
                                            <div class="col-sm-9">
                                                <select class="form-control input-lg" id="example-select" name="example-select" size="1">
                                                    <option value="0">Seleccione un estado</option>
                                                    <option value="1">Activo</option>
                                                    <option value="2">Inactivo</option>
                                                    <option value="3">Ocupado</option>
                                                </select>
                                            </div>
                                        </div>
										<div class="col-xs-6">
                                                <label for="mega-lastname">Aforo</label>
                                                <input class="form-control input-lg" type="text" id="mega-lastname" name="mega-lastname" placeholder="Ingrese el aforo..">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="./Enviroments.html"><button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#createModal"><i class="fa fa-check push-5-r"></i> Crear</button></a>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="./Enviroments.html"><button class="btn btn-warning" type="submit"><i class="fa fa-remove push-5-r"></i> Cancelar</button></a>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="./Enviroments.html"><button class="btn btn-danger" type="submit"><i class="fa fa-arrow-left push-5-r"></i> Regresar</button></a>
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- END Block v2 -->


                    </div>
                </div>

                {% endblock %}