{% extends 'Admin/Layouts/base.html' %}

{% block head_title %}
Admin: environments
{% endblock %}

{% block head_dahsboard %}
Environments
{% endblock %}

{% block function_head_dahsboard %}
Lista completa de ambientes
{% endblock %}

{% block sub_head_dahsboard %}
Environments
{% endblock %}

{% block function_sub_head_dahsboard %}
Lista de ambientes
{% endblock %}

{% block content %}

                <!-- Page Content -->
                <div class="content">
                    <!-- Simple Table Full -->
                    <div class="block">
                        <form id="myFormDelete" action={% url "environment:delete" %} method="post">
                        {% csrf_token %}  
                            <input type="hidden" id="hid1" name="id"/>
                        </form>
                        <form id="myFormEdit" action={% url "environment:edit_index" %} method="post">
                            {% csrf_token %}  
                            <input type="hidden" id="hid2" name="id"/>
                        </form>
                        <!--<div class="block-header">
                            <h3 class="block-title">Simple Table <small>Full</small></h3>
                        </div>-->
                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-simple">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="font-w600">Sede</th>
                                        <th class="font-w600">Nombre</th>                                        
                                        <th class="hidden-xs" style="width: 15%;">Estado</th>
                                        <th class="text-center" style="width: 10%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for environment in environments %}
                                    <tr>
                                        <td class="text-center">{{environment.id}}</td>
                                        <td class="font-w600">Sede principal</td>
                                        <td class="hidden-xs">{{ environment.name }}</td>
                                        <td class="hidden-xs">
                                            <span class="label label-danger">{{ environment.status }}</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-xs btn-default editar" data-id="{{environment.id}}" type="button"  data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i></button>

                                                <button class="btn btn-xs btn-default eliminar" data-id="{{environment.id}}" type="button" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Simple Table Full -->
                </div>

                {% endblock %}